<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_change_cancel.css}">
        <!-- ⭐해지 세부 -->
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header th:replace="~{/fragments/headerFooter:: header}">
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="container">
                    <div class="title">
                        <h1 style="text-align: center;">서비스 해지</h1>
                    </div>
                    <div class="description">
                        <h4>꼭 확인해주세요.</h4>
                        <ul>
                            <li>초과 사용 품목이 있는 경우, 해당 금액에 대한 결제가 진행됩니다.</li>
                        </ul>
                    </div>
                    <div class="choice">
                        <div class="button remain" onclick="history.go(-1)">
                            <button>서비스 유지하기</button>
                        </div>
                            <div class="button cancel">
                                <button>지금 바로 해지하기</button>
                            </div>
                        </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav th:replace="~{/fragments/headerFooter:: footer}">
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const removeBtn = document.querySelector(".cancel");
    removeBtn.addEventListener("click" ,e => {
        remove();
    })
    
    function remove() {
        $.ajax({
            url: '/user/serviceRemove',
            type: 'post',
            success: function (result) {
                console.log(result);
                alert("서비스가 해지 되었습니다")
                location.href = result;
            },
            error: function () {
                alert("에러입니다");
            }
        });

    }
</script>
</html>