<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link
			rel="shortcut icon"
			type="image/x-icon"
			href="https://www.laundrygo.com/image/favicon/favicon_web.png">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/findIdPw.css}">
</head>
<body>
	<div th:replace="~{/fragments/headerFooter :: header}"></div>
	<section>
		<div class="findIdPw-page">
			<h2>비밀번호 찾기</h2>
				<div class="card">
					<form class="submit" action="/user/checkUser" method="post" name="userVO">
						<div class="find-container findId-container">
							<div class="col">
								<fieldset>
									<legend>가입한 휴대 전화 번호를 입력해주세요</legend>
									<div>
										<input id="userPhonenum" type="text" name="userPhonenum" placeholder="휴대 전화 번호를 입력해주세요">
									</div>
									<div class="invalid-feedback">
									</div>
								</fieldset>
							</div>
							<div class="col">
								<fieldset>
									<legend>가입한 이메일 주소를 입력해주세요</legend>
									<div>
										<input id="userEmail" type="email" name="userEmail" placeholder="example@washgogo.com">
									</div>
									<div class="invalid-feedback">
									</div>
									<div class="feedback">
										<small>휴대 전화 번호 인증을 통해<br>비밀번호를 재설정하실 수 있습니다.</small>
									</div>
								</fieldset>
							</div>
							<div class="col verifyNum" style="display: none">
								<fieldset>
									<legend>인증 번호를 입력해주세요</legend>
									<div>
										<input id="verifyNumber" type="text" name="verifyNumber" placeholder="인증 번호를 입력해주세요">
									</div>
									<div class="invalid-feedback">
									</div>
								</fieldset>
							</div>
							<div class="col">
							<div class="col">
							<button type="button" class="btn find-btn" onclick="getNumber()"><span>인증번호 받기</span></button>
						</div>
					</div>
				</div>
					</form>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/headerFooter :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/findPw.js}"></script>
<script>
	function getNumber() {
		let userEmail = $('#userEmail').val();
		let userPhonenum = $('#userPhonenum').val();
		var userVO = {
			userPhonenum : userPhonenum,
			userEmail : userEmail
		}
		// 이메일이 없다면
		if(userPhonenum == ""){
			alert("휴대전화를 입력해주세요");
			return;
		} else if(userEmail == ""){
			alert("이메일을 입력해주세요");
			return;
		}
		$.ajax({	// ajax선언
			url: '/user/checkUser', //Controller에서 인식할 주소
			type: 'post', //POST 방식으로 전달
			dataType: "json",
			data: JSON.stringify(userVO), 	// 데이터 타입은 userVO타입
			contentType: "application/json",
			success: function (result) {
				if(result){
					console.log("success result :" + result);
					// console.log($("button.find-btn").html());
					// console.log(typeof($("button.find-btn").html()));
					$("button.find-btn").html("<span>인증번호 확인</span>");	// 버튼 내용 변경
					$("button.find-btn").prop("type", "submit");	// 버튼 타입 변경
					$("button.find-btn").attr("onclick", "checkNumber()");	// onclick변경
					$("div.verifyNum").css('display','block');
					$("form.submit").attr("action", "/user/VerifyNumber");
				} else{
					alert("존재하지 않는 회원입니다.");
				}

			},
			error: function () {
				alert("에러입니다");
			}
		});
	}

	function checkNumber() {
		let verifyNumber = $('#verifyNumber').val();
		// 인증 번호가 없다면
		if(verifyNumber == ""){
			alert("인증번호를 입력해주세요");
			return;
		}
		$.ajax({	// ajax선언
			url: '/user/VerifyNumber', //Controller에서 인식할 주소
			type: 'post', //POST 방식으로 전달
			dataType: "json",
			data: verifyNumber, 	// 데이터 타입은 userVO타입
			contentType: "application/json",
			success: function (result) {
				if(result){
					console.log("success result :" + result);
				} else{
					alert("존재하지 않는 회원입니다.");
				}
			},
			error: function () {
				alert("에러입니다");
			}
		});
	}
</script>
</html>
