<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link
			rel="shortcut icon"
			type="image/x-icon"
			href="https://www.laundrygo.com/image/favicon/favicon_web.png">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/findIdPw.css}">
</head>
<body id="body">
	<div th:replace="~{/fragments/headerFooter :: header}"></div>
	<section>
		<div class="findIdPw-page">
			<h2>비밀번호 찾기</h2>
				<div class="card">
					<form id="form" class="submit" action="/user/checkUser" method="post" name="userVO">
						<div class="find-container findId-container">
							<div class="col">
								<fieldset>
									<legend>가입한 휴대 전화 번호를 입력해주세요</legend>
									<div>
										<input id="userPhonenum" type="text" name="userPhonenum" placeholder="휴대 전화 번호를 입력해주세요" oninput = "checkPhoneNum()"  autocomplete="off">
									</div>
									<div id="phonenumwrong" class="invalid-feedback invalid-feedback-phonenum"></div>
								</fieldset>
							</div>
							<div class="col">
								<fieldset>
									<legend>가입한 이메일 주소를 입력해주세요</legend>
									<div>
										<input id="userEmail" type="email" name="userEmail" placeholder="example@washgogo.com" oninput = "checkEmail()"  autocomplete="off">
									</div>
									<div id="emailwrong" class="invalid-feedback invalid-feedback-email"></div>
									<div class="feedback">
										<small>휴대 전화 번호 인증을 통해<br>비밀번호를 재설정하실 수 있습니다.</small>
									</div>
								</fieldset>
							</div>
							<div class="col verifyNum" style="display: none">
								<fieldset>
									<legend>인증 번호를 입력해주세요</legend>
									<div>
										<input id="verifyNumber" type="text" name="verifyNumber" placeholder="인증 번호를 입력해주세요" oninput = "checkVerify()">
									</div>
									<div id="verifywrong" class="invalid-feedback invalid-feedback-verifyNumber"></div>
								</fieldset>
							</div>
							<div class="col">
							<div class="col">
							<button type="button" class="btn find-btn" onclick="getNumber()"><span>인증번호 받기</span></button>
						</div>
					</div>
				</div>
					</form>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/headerFooter :: footer}"></div>
	<!-- modal -->
	<div id="modal" class="modal-overlay" style="display: none;">
		<div id="modal_window" class="modal-window">
			<div class="close-area">X</div>
			<div class="title">
				<h2>유효하지 않은 회원</h2>
			</div>
			<div class="info">
				<p>유효하지 않은 회원입니다.</p>
			</div>
			<div class="close">
				<button class="close-text">확인</button>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/findPw.js}"></script>
</html>
