<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link
			rel="shortcut icon"
			type="image/x-icon"
	href="https://www.laundrygo.com/image/favicon/favicon_web.png">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link
			rel="stylesheet"
			type="text/css"
	href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body id="body">
	<div th:replace="~{/fragments/headerFooter :: header}"></div>
	<section>
		<div class="login-page">
			<h2>로그인</h2>
			<div class="card">
				<form id="form" action="/user/loginCheck" method="post" name="userVO">
				<div class="login-container">
					<div class="col">
						<fieldset>
							<legend>이메일</legend>
							<div>
								<input id="userEmail" type="email" name="userEmail" placeholder="이메일을 입력해주세요" oninput = "checkEmail()" autocomplete="off" onkeyup="enterkey();">
							</div>
							<div id="emailwrong" class="invalid-feedback invalid-feedback-email"></div>
						</fieldset>
					</div>
					<div class="col">
						<fieldset>
							<legend>비밀번호</legend>
							<div class="password-wrapper">
								<input id="userPw" type="password" name="userPw" placeholder="비밀번호를 입력하세요" oninput = "checkPassWord()" onkeyup="enterkey();">
								<button class="pw-show" type="button"></button>
							</div>
							<div id="pwwrong" class="invalid-feedback invalid-feedback-password"></div>
						</fieldset>
					</div>
					<div class="col find-container">
						<a href="findIdPw" class="find find-pw">비밀번호 찾기</a>
					</div>
					<div class="col">
						<button type="button" class="btn login-btn" value="로그인" th:onclick="checkUser()"><span>로그인</span></button>
					</div>
				</div>
				</form>
				<div class="signup">
					<a href="join">계정이 없으신가요?</a>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/headerFooter :: footer}"></div>
	<!-- modal -->
	<div id="modal" class="modal-overlay" style="display: none;">
		<div id="modal_window" class="modal-window">
			<div class="close-area">X</div>
			<div class="title">
				<h2>로그인에 실패하였습니다</h2>
			</div>
			<div class="info">
				<p>이메일이나 비밀번호가 올바르게 입력되었는지 확인 후 <br>다시 시도하십시오.</p>
			</div>
			<div class="close">
				<button class="close-text">확인</button>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/login.js}"></script>
</html>