<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>로그인</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link
			rel="shortcut icon"
			type="image/x-icon"
	href="https://www.laundrygo.com/image/favicon/favicon_web.png">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link
			rel="stylesheet"
			type="text/css"
	href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body id="body">
	<div th:replace="~{/fragments/headerFooter :: header}"></div>
	<section>
		<div class="login-page">
			<h2>로그인</h2>
			<div class="card">
				<form action="/user/login" method="post">
				<div class="login-container">
				</div>
					<div class="col">
						<fieldset>
							<legend>이메일</legend>
							<div>
								<input id="email" type="email" name="inputEmail" placeholder="이메일을 입력해주세요">
							</div>
							<div id="emailwrong" class="invalid-feedback">
								<small>이메일 주소를 입력해주세요.</small>
								<!-- <small>올바른 이메일 주소를 입력해주세요.</small> -->
							</div>
						</fieldset>
					</div>
					<div class="col">
						<fieldset>
							<legend>비밀번호</legend>
							<div class="password-wrapper">
								<input id="password" type="password" name="inputPw" placeholder="비밀번호를 입력하세요">
								<button class="pw-show" type="button"></button>
							</div>
							<div id="pwwrong" class="invalid-feedback">
								<small>비밀번호를 입력해주세요.</small>
								<!-- <small>영문+숫자 조합 8자리 이상 입력해주세요.</small> -->
							</div>
						</fieldset>
					</div>
					<div class="col find-container">
						<a href="findIdPw.html?p=id" class="find find-email">아이디 찾기</a>
						<a href="findIdPw.html?p=pw" class="find find-pw">비밀번호 찾기</a>
					</div>
					<div class="col">
						<button type="submit" class="btn login-btn" value="로그인"><span>로그인</span></button>
					</div>
				</form>
				<div class="signup">
					<a href="join.html">계정이 없으신가요?</a>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/headerFooter :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	/* 비밀번호 보이기, 감추기 */
	$(".pw-show").on("click",function(){
		$("input").toggleClass("active");
		if($("input").hasClass("active")){
			$(".pw-show").prev("input").attr("type","text");
			$(".pw-show").toggleClass("pw-hide");
		}else{
			$(".pw-show").prev("input").attr("type","password");
			$(".pw-show").removeClass("pw-hide");
		}
	});

	console.log($("#password").val());

	function close() {
		// 비밀번호 미입력시
		if(!$("#password").val()){
			pwwrong.style.display = "block";
		}else if($("#password").val()){
			pwwrong.style.display = "none";
		}

		// 이메일 미입력시
		if(!$("#email").val()){
			emailwrong.style.display = "block";
		}else if($("#email").val()){
			emailwrong.style.display = "none";
		}
	}

	body.addEventListener("click", e => {
			close();
	})


</script>
</html>