<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_mypage.css}">
        <!--⭐마이페이지 세부-->
    </head>
    <body>
        <div id="app" data-is-loaded="true">
            <!---- App-Header ---->
            <header th:replace="~{/fragments/headerFooter:: header}">
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="container-md container">
                    <div class="mypage-container">
                        <h1 class="mypage-title">마이페이지</h1>
                        <div data-v-5b32e6b8="" class="profile-container underline">
                            <a data-v-5b32e6b8="" href="/user/modifyingInformation" class="">
                                <div data-v-5b32e6b8="" class="user-info">
                                    <div data-v-5b32e6b8="" class="user-name">
                                        <span data-v-5b32e6b8="" class="name-length" th:text="${myPageInfo.userName}"></span>
                                        고객님
                                    </div>
                                    <div data-v-5b32e6b8="" class="user-id">
                                        <!---->
                                        <span data-v-5b32e6b8="" class="id-length" th:text="${myPageInfo.userEmail}"></span>
                                    </div>
                                </div>
                                <div data-v-5b32e6b8="" class="arrow">
                                    <span data-v-5b32e6b8="" class="right-arrow"><img
                                        data-v-5b32e6b8=""
                                        src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                </div>
                            </a>
                            <!---->
                        </div>
                        <div class="my-page-menu">
                            <ul >
                                <li data-v-4580432e="" class="sub-menu-container underline escrow-list">
                                    <a data-v-4580432e="" href="./point" class="sub-menu-list">
                                        <div data-v-4580432e="" class="sub-content">
                                            <div data-v-4580432e="" class="sub-menu">
                                                <span data-v-4580432e="" class="sub-menu-title">포인트</span></div>
                                            <!---->
                                        </div>
                                        <!---->
                                        <div data-v-4580432e="" class="arrow">
                                            <span data-v-4580432e="" class="right-arrow"><img
                                                data-v-4580432e=""
                                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span></div>
                                        <!---->
                                    </a>
                                </li>
                                <li data-v-4580432e="" class="sub-menu-container underline escrow-list">
                                    <a data-v-4580432e="" href="./paymentDetails" class="sub-menu-list">
                                        <div data-v-4580432e="" class="sub-content">
                                            <div data-v-4580432e="" class="sub-menu">
                                                <span data-v-4580432e="" class="sub-menu-title">결제내역</span></div>
                                            <!---->
                                        </div>
                                        <!---->
                                        <div data-v-4580432e="" class="arrow">
                                            <span data-v-4580432e="" class="right-arrow"><img
                                                data-v-4580432e=""
                                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span></div>
                                        <!---->
                                    </a>
                                </li>
                                <li data-v-4580432e="" class="sub-menu-container underline escrow-list">
                                    <a data-v-4580432e="" href="./useService" class="sub-menu-list">
                                        <div data-v-4580432e="" class="sub-content">
                                            <div data-v-4580432e="" class="sub-menu">
                                                <span data-v-4580432e="" class="sub-menu-title">이용 중인 서비스</span></div>
                                            <!---->
                                        </div>
                                        <!---->
                                        <div data-v-4580432e="" class="arrow">
                                            <span data-v-4580432e="" class="right-arrow"><img
                                                data-v-4580432e=""
                                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span></div>
                                        <!---->
                                    </a>
                                </li>
                                <li data-v-4580432e="" class="sub-menu-container underline notification">
                                    <a data-v-4580432e="" href="./notice" class="sub-menu-list">
                                        <div data-v-4580432e="" class="sub-content">
                                            <div data-v-4580432e="" class="sub-menu">
                                                <span data-v-4580432e="" class="sub-menu-title">공지사항</span></div>
                                            <!---->
                                        </div>
                                        <!---->
                                        <div data-v-4580432e="" class="arrow">
                                            <span data-v-4580432e="" class="right-arrow"><img
                                                data-v-4580432e=""
                                                src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span></div>
                                        <!---->
                                    </a>
                                </li>
                            </ul>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav th:replace="~{/fragments/headerFooter:: footer}">
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>