<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_mypage.css}">
        <!--⭐마이페이지 세부-->
    </head>
    <body>
        <div id="app" data-is-loaded="true">
            <!---- App-Header ---->
            <header th:replace="~{/fragments/headerFooter:: header}">
            </header>
            <!---- App-Body ---->
            <div id="app-body" class="mypage">
                <div class="container-md container">
                    <div class="mypage-container">
                        <h1 class="mypage-title">마이페이지</h1>
                        <div class="profile-container underline">
                            <a href="/user/modifyingInformation" class="">
                                <div class="thumb">
                                    <div class="user-profile-picture">
                                        <div data-name="image" class="is-square" lazy="loaded" style="background-image: url('/img/user-profile-image.jpg')"></div>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-name">
                                        <span class="name-length" th:text="${myPageInfo.userName}"></span>
                                        고객님
                                    </div>
                                    <div class="user-id">
                                        <span class="id-length" th:text="${myPageInfo.userEmail}"></span>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <span class="right-arrow"><img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                </div>
                            </a>
                        </div>
                        <div class="my-page-menu">
                            <ul >
                                <li class="sub-menu-container underline escrow-list">
                                    <a href="/user/point" class="sub-menu-list">
                                        <div class="sub-content">
                                            <div class="sub-menu">
                                                <span class="sub-menu-title">포인트</span></div>
                                        </div>
                                        <div class="arrow">
                                            <span class="right-arrow"><img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="sub-menu-container underline escrow-list">
                                    <a href="/paymentDetails" class="sub-menu-list">
                                        <div class="sub-content">
                                            <div class="sub-menu">
                                                <span class="sub-menu-title">결제내역</span></div>
                                        </div>
                                        <div class="arrow">
                                            <span class="right-arrow"><img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="sub-menu-container underline escrow-list">
                                    <a href="/useService" class="sub-menu-list">
                                        <div class="sub-content">
                                            <div class="sub-menu">
                                                <span class="sub-menu-title">이용 중인 서비스</span></div>
                                        </div>
                                        <div class="arrow">
                                            <span class="right-arrow"><img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="sub-menu-container underline notification">
                                    <a href="./notice" class="sub-menu-list">
                                        <div class="sub-content">
                                            <div class="sub-menu">
                                                <span class="sub-menu-title">공지사항</span></div>
                                        </div>
                                        <div class="arrow">
                                            <span class="right-arrow"><img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav th:replace="~{/fragments/headerFooter:: footer}">
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*프로필*/
        if(profileSession){
            const $image = $(".thumb .user-profile-picture div");
            $image.css("background-image", "url('/upload/display?path=" + profileSession.uploadDirectory + "/t_" + profileSession.fileName + "'");
        }
    </script>
</html>