<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/notice.css}">
        <!--⭐공지사항 세부-->
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header id="app-header" class="global-header hide-border-bottom">
                <section>
                    <div class="desktop-header">
                        <div class="left-section">
                            <div class="logo">
                                <a href="./index">
                                    <div class="logo-image">washgogo</div>
                                </a>
                            </div>
                        </div>
                        <div class="right-section">
                            <nav>
                                <!-- ⭐비로그인 헤더 -->
                                <ul class="nav-list sign-out" style="display: none;">
                                    <li class="nav-item">
                                        <a href="../guide">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./pricesheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./login">
                                            <span>로그인</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./join">
                                            <span>회원가입</span></a>
                                    </li>
                                </ul>
                                <!-- ⭐로그인 헤더 -->
                                <ul class="nav-list sign-in">
                                    <li class="nav-item">
                                        <a href="../guide">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./pricesheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">
                                            <span>이용내역</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./mypage">
                                            <span>마이페이지</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <button type="button" class="btn btn-primary pickup-request-btn">수거신청</button>
                        </div>
                    </div>
                </section>
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="noticesheet container">
                    <div class="contents">
                        <section class="notice-basic">
                            <div class="notice container">
                                <div class="notice-item daily">
                                    <h2 class="title" style="text-align: center">공지사항</h2>
                                    <div>
                                        <table>
                                            <tbody>
                                            <th:block th:each="notice:${noticeList}">
                                                <tr style="cursor: pointer;" th:object="${notice}">
                                                    <td class="more" th:text="*{noticeTitle}">
                                                    <td></td>
                                                </tr>
                                                <tr th:object="${notice}">
                                                    <td class="more-info" colspan="2" >
                                                        <div>
                                                            <p th:text="*{noticeContent}"></p>
                                                            <a th:href="@{/user/noticeEdit(noticeNumber=*{noticeNumber})}">편집</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>
                                        </table>
                                        <!--<table>
                                            <tbody>
                                                <tr style="cursor: pointer;">
                                                    <td class="more">[공지]프리미엄 서비스 오픈 및 브랜드 적용 안내</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td class="more-info" colspan="2">
                                                        <div>
                                                            <p>
                                                                안녕하세요. 세탁없는 세탁의 시작, 워시고고입니다.
                                                            </p>
                                                            <br>
                                                            <p>
                                                                소중한 옷, 더욱 안심하고 맡기실 수 있도록 워시고고 프리미엄 서비스를 오픈합니다.
                                                            </p>
                                                            <br>
                                                            <p>
                                                                서비스 오픈일: 2022년 6월 7일(화)
                                                            </p>
                                                            <br>
                                                            <p>
                                                                30년 경력 세탁 전문가들의 전담케어,프리미엄 케어를 위한 별도 공정, 업계 최대 보상률을 통해 프리미엄 의류도 이제 안심하고 맡겨보세요.
                                                            </p>
                                                            <br>
                                                            <p>
                                                                프리미엄 서비스 런칭에 따라 세탁 시 중의가 필요한 프리미엄 지정 브랜드의 경우, 검수 단계에서 프리미엄 세탁물로 자동 분류되며, 세탁 완료 후
                                                                프리미엄 가격표를 기준으로 과금됩니다.
                                                            </p>
                                                            <br>
                                                            <h4>
                                                                프리미엄 지정 브랜드
                                                            </h4>
                                                            <br>
                                                            <div class="brands">
                                                                <ul>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-hermes.png}+');'">에르메스</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-chanel.png}+');'">샤넬</div>
                                                                    </li>
                                                                    <li>
                                                                        <div
                                                                            th:style="'background-image: url('+@{/img/brand-logo-louisvuitton.png}+');'">루이비통</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-gucci.png}+');'">구찌</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-prada.png}+');'">프라다</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-burberry.png}+');'">버버리</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-celine.png}+');'">셀린느</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-moncler.png}+');'">몽클레르</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-valentino.png}+');'">발렌티노</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-fendi.png}+');'">펜디</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-dior.png}+');'">디올</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-loropiana.png}+');'">로로피아나</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-miumiu.png}+');'">미우미우</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-kiton.png}+');'">키톤</div>
                                                                    </li>
                                                                    <li>
                                                                        <div th:style="'background-image: url('+@{/img/brand-logo-brioni.png}+');'">브리오니</div>
                                                                    </li>
                                                                    <li>
                                                                        <div
                                                                            th:style="'background-image: url('+@{/img/brand-logo-stefanoricci.png}+');'">스테파노리치</div>
                                                                    </li>
                                                                    <li>
                                                                        <div
                                                                            th:style="'background-image: url('+@{/img/brand-logo-bottegaveneta.png}+');'">보테가베네타</div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>-->
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="big-width" style="text-align: center">
                <a class="changePage" th:if="${pageDTO.prev}" th:href="${pageDTO.startPage - 1}"><code>&lt;</code></a>
                <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                    <code th:text="${num}" th:if="${pageDTO.criteria.pageNum == num}"></code>
                    <a class="changePage" th:unless="${pageDTO.criteria.pageNum == num}" th:href="${num}"><code th:text="${num}"></code></a>
                </th:block>
                <a class="changePage" th:if="${pageDTO.next}" th:href="${pageDTO.endPage + 1}"><code>&gt;</code></a>
            </div>
            <form action="/user/notice" th:object="${criteria}" name="pageForm">
                <input type="hidden" th:field="*{pageNum}">
                <input type="hidden" th:field="*{amount}">
                <input type="hidden" th:field="*{type}">
                <input type="hidden" th:field="*{keyword}">
            </form>
            <!---- App-Footer ---->
            <nav id="app-footer" class="footer-container">
                <div class="footer-container-row">
                    <div class="col-content">
                        <p class="contact">1833-1900</p>
                        <p class="text-middle">
                            평일 10:00 - 18:00
                            <br>
                            (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                        </p>
                    </div>
                    <div class="col-content right">
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-appstore.svg"
                            alt="앱스토어">APP STORE</a>
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-palystore.svg"
                            alt="구글플레이">PLAY STORE</a>
                    </div>
                </div>
                <div class="footer-container-row terms">
                    <div class="term-container">
                        <div class="col-content term-content">
                            <img th:src="@{/img/logoGray.jpg}" alt="logo" class="logo">
                            <div class="col-content-list-term">
                                <a href="#" class="text term">이용약관</a>
                                <a href="#" class="text term">개인정보처리방침</a>
                                <a href="#" class="text term">사업자 정보확인</a>
                            </div>
                            <div>
                                <ul class="col-content-guide">
                                    <li class="text">(주)워시고고컴퍼니</li>
                                    <li class="text">대표 : 송민경 사업자 등록번호:561-87-00950</li>
                                    <li class="text">통신판매업신고 : 제2022-서울강서-2052호</li>
                                    <li class="text">주소 : 서울특별시 강서구 양천로 60길 1004(01004)</li>
                                    <li class="text">개인정보담당자 : 송민경 이메일:privacy@washgogo.kr</li>
                                    <li class="text">고객센터 : 1833-1900</li>
                                    <li class="text">Copyright2022 &copy; Washgogo All rights reserved</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-content badge-list right">
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-facebook.svg"
                                    alt="워시고고 페이스북 계정">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-instagram.svg"
                                    alt="워시고고 인스타그램">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverblog.svg"
                                    alt="워시고고 블로그">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverpost.svg"
                                    alt="워시고고 포스트">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-tistory.svg"
                                    alt="워시고고 스토리">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/notice.js}"></script>
</html>