<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_payment_details.css}">
        <!--⭐결제내역 세부-->
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header th:replace="~{/fragments/headerFooter:: header}">
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="container-md container">
                    <div class="section1">
                        <h1 style="text-align: center;">결제내역</h1>
                    </div>
                    <div class="section2">
                        <div class="month-frame">
                            <div class="month onemonth select">1개월</div>
                            <div class="month threemonth">3개월</div>
                            <div class="month sixmonth">6개월</div>
                        </div>
                    </div>
                    <div class="section3">
                        <table class="usage-details">
                            <tr>
                                <th>날짜</th>
                                <th>항목</th>
                                <th>수량</th>
                                <th>가격</th>
                                <th>포인트 사용</th>
                                <th>최종 결제 금액</th>
                            </tr>
                            <tr>
                                <td>ex)2022-06-16</td>
                                <td>코트</td>
                                <td>1 개</td>
                                <td>50,000 원</td>
                                <td>500 p</td>
                                <td>49,500 원</td>
                            </tr>
                            <tr>
                                <td>ex)2022-06-16</td>
                                <td>셔츠</td>
                                <td>1 개</td>
                                <td>5,000 원</td>
                                <td>5,000 p</td>
                                <td>0 원</td>
                            </tr>
                        </table>
                    </div>
                    <div class="section4" style="display: none;">
                        <h4>이용 내역이 없습니다.</h4>
                    </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav th:replace="~{/fragments/headerFooter:: footer}">
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/payment_details.js}"></script>
</html>