<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link
			rel="shortcut icon"
			type="image/x-icon"
			href="https://www.laundrygo.com/image/favicon/favicon_web.png">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	}
	<link rel="stylesheet" type="text/css" th:href="@{/css/resetPw.css}">
</head>
<body>
	<div th:replace="~{/fragments/headerFooter :: header}"></div>
	<section>
		<div class="reset-page">
			<h2>비밀번호 재설정</h2>
			<div class="card">
				<form action="/user/findIdPw" method="post" name="userVO">
				<div class="reset-container">
					<div class="col">
						<fieldset>
							<input id="userNumber" type="number" name="userNumber" style="display: none">
							<legend>새 비밀번호</legend>
							<div class="password-wrapper">
								<input id="password" type="password" name="userPw" placeholder="새 비밀번호를 입력하세요" oninput = "checkPassWord()">
								<button class="pw-show" type="button"></button>
							</div>
							<div id="pwwrong" class="invalid-feedback invalid-feedback-password">
							</div>
						</fieldset>
					</div>
					<div class="col">
						<fieldset>
							<legend>새 비밀번호 확인</legend>
							<div class="password-wrapper">
								<input id="newpassword" type="password" name="userNewPw" placeholder="새 비밀번호를 다시 입력해주세요" oninput = "checkNewPassWord()">
								<button class="pw-show" type="button"></button>
							</div>
							<div id="newpwwrong" class="invalid-feedback invalid-feedback-newpassword">
							</div>
						</fieldset>
					</div>
					<div class="col">
						<button type="button" class="btn reset-btn" onclick="checkNumber()"><span>비밀번호 재설정 완료</span></button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/headerFooter :: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
	let userNumber= [[${userNumber}]];	// 유저의 번호를 가져옴
	$("#userNumber").val(userNumber);
	/* 비밀번호 보이기, 감추기 */
	$(".pw-show").on("click",function(){
		$("input").toggleClass("active");
		if($("input").hasClass("active")){
			$(".pw-show").prev("input").attr("type","text");
			$(".pw-show").toggleClass("pw-hide");
		}else{
			$(".pw-show").prev("input").attr("type","password");
			$(".pw-show").removeClass("pw-hide");
		}
	});

	function close() {
		// 비밀번호 미입력시
		if(!$("#password").val()){
			pwwrong.style.display = "block";
		}

		// 이메일 미입력시
		if(!$("#email").val()){
			emailwrong.style.display = "block";
		}
	}

	// 새 비밀번호
	function checkPassWord() {
		let userPw = $('#password').val(); //userPw값이 "userPw"인 입력란의 값을 저장
		const feedback = $("div.invalid-feedback-password");
		let str = "";
		var chk_num = userPw.search(/[0-9]/g);
		var chk_eng = userPw.search(/[a-z]/ig);
		if (!userPw) {
			str = "<small>새 비밀번호를 입력해주세요.</small>";
			feedback.html(str);
		} else if(chk_num < 0 || chk_eng < 0){
			str = "<small>비밀번호는 숫자와 영문자를 혼용하여야 합니다.</small>";
			feedback.html(str);
		} else if(userPw.length < 8){
			str = "<small>비밀번호는 최소 8자 이상 입력해주세요.</small>";
			feedback.html(str);
		}
		else {
			str = "";
			feedback.html(str);
		}
	}

	// // 새 비밀번호 확인
	function checkNewPassWord() {
		let newuserPw = $('#newpassword').val(); //userPw값이 "userPw"인 입력란의 값을 저장
		let userPw = $('#password').val(); //userPw값이 "userPw"인 입력란의 값을 저장
		const feedback = $("div.invalid-feedback-newpassword");
		let str = "";
		var chk_num = newuserPw.search(/[0-9]/g);
		var chk_eng = newuserPw.search(/[a-z]/ig);
		if (!newuserPw) {
			str = "<small>비밀번호를 다시 입력해주세요.</small>";
			feedback.html(str);
		} else if(chk_num < 0 || chk_eng < 0){
			str = "<small>비밀번호는 숫자와 영문자를 혼용하여야 합니다.</small>";
			feedback.html(str);
		} else if(newuserPw.length < 8){
			str = "<small>비밀번호는 최소 8자 이상 입력해주세요.</small>";
			feedback.html(str);
		} else if(newuserPw != userPw){
			str = "<small>새 비밀번호가 일치하지 않습니다.</small>";
			feedback.html(str);
		}
		else {
			str = "";
			feedback.html(str);
		}
	}

	// 비밀번호 재설정 버튼 클릭시
	function checkNumber() {
		let password = $('#password').val();
		let newpassword = $('#newpassword').val();

		if(password == "" || $("div.invalid-feedback-password").html()){
			// 새 비밀번호가 없다면
			$(".reset-btn").prop("type", "button");
			alert("새 비밀번호를 입력해주세요");
			return;
		} else if(newpassword == "" || $("div.invalid-feedback-newpassword").html()) {
			// 새 비밀번호 확인이 없다면
			$(".reset-btn").prop("type", "button");
			alert("새 비밀번호를 확인해주세요");
			return;
		}

		// 새 비밀번호와 새 비밀번호 확인이 일치한다면
		if(password == newpassword){
			alert("비밀번호가 변경되었습니다. 다시 로그인해 주세요");
			// var userVO = {
			// 	userNumber      : userNumber
			// 	, userPw       : $('#password').val()
			// }
			// $.ajax({	// ajax선언
			// 	url: '/user/findIdPw', //Controller에서 인식할 주소
			// 	type: 'post', //POST 방식으로 전달
			// 	dataType: "json",
			// 	data: JSON.stringify(userVO), 	// 데이터 타입은 userVO타입
			// 	contentType: "application/json",
			// 	success: function (result) {	// 외부로부터 result를 받아오면 => 만약 이메일 전송에 성공하면
			// 		console.log("처리 성공 시 변경되는 내용");	// 출력문
			// 		feedback.html(str);
			// 	},
			// 	error: function () {
			// 		console.log("로그인 오류 체크1");
			// 		alert("에러입니다");
			// 	}
			// });
			$("button.reset-btn").prop("type", "submit");	// 버튼 타입 변경
		}
	}
</script>
</html>