<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/used.css}">
	<title>이용 내역</title>
</head>
<body>
	<div id="app">
		<!---- App-Header ---->
		<header th:replace="~{/fragments/headerFooter :: header}"></header>
		<!---- App-Body ---->
		<section>
			<div class="present-condition-page">
				<div class="card">
					<h2>세탁이 진행되고 있습니다.</h2>
					<h4>고객님의 빨래가 깨끗하게 세탁 중입니다.</h4>
					<div class="present-condition-container">
						<div class="col">
							<fieldset>
								<legend>
									<span>세탁 인수증</span>
									<span th:text="|총 ${#aggregates.sum(orderList.![orderEAQuantity]) - 1}개 품목|">총 수량</span>
								</legend>
								<div>
									<ul class="order-list">
										<th:block th:each="orderList:${orderList}">
											<li>
												<div class="laundry-img">
													<img th:if="${orderList.laundryURL} != null" th:src="@{/img/laundry/} + ${orderList.laundryURL}" alt="이미지">
													<img th:if="${orderList.laundryURL} == null" th:src="@{/img/laundry/preparation.jpg}" alt="이미지">
												</div>
												<div class="laundry-name">
													<span th:text="${orderList.laundryName}">이름</span><br>
													<span th:if="${orderList.laundryName} != '배송비'" th:text="|O${orderList.orderNumber}L${orderList.laundryNumber}|">번호</span>
												</div>
												<div class="laundry-condition">
													<span th:if="${orderList.laundryName} != '배송비'"  th:text="|${orderList.orderEAQuantity}개|">개수</span>
													<span th:if="${orderList.laundryName} != '배송비'"><br></span>
													<span th:text="${orderList.laundryPrice} * ${orderList.orderEAQuantity} + '원'">단가</span>
												</div>
											</li>
										</th:block>
									</ul>
								</div>
							</fieldset>
							<div class="total-price">
								<span>총액</span>
								<span>질문!!</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!---- App-Footer ---->
		<footer th:replace="~{/fragments/headerFooter :: footer}"></footer>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>