<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/used.css}">
	<title>이용 내역</title>
</head>
<body>
	<div id="app">
		<!---- App-Header ---->
		<header th:replace="~{/fragments/headerFooter :: header}"></header>
		<!---- App-Body ---->
		<section>
			<div class="present-condition-page">
				<div class="card">
					<h2>세탁이 진행되고 있습니다.</h2>
					<h4>고객님의 빨래가 깨끗하게 세탁 중입니다.</h4>
					<div class="present-condition-container">
						<div class="col">
							<fieldset>
								<legend>
									<span>세탁 인수증</span>
									<span>$orderTotalQuantity개 품목</span>
								</legend>
								<div>
									<ul class="order-list">

										<!--<th:block th:each="order:${orderList}">
											<li>
												<div class="laundry-img">
													<img src="" alt="이미지">
												</div>
												<div class="laundry-name">
													&lt;!&ndash; $orderPMChoose $laundryName &ndash;&gt;
													<span th:text="${orderList.laundryName}">이름</span><br>
													&lt;!&ndash; $orderNumber+$laundryNumber &ndash;&gt;
													<span th:text="${orderList.laundryNumber}">번호</span>
												</div>
												<div class="laundry-condition">
													&lt;!&ndash; $orderProgress &ndash;&gt;
													<span th:text="${order.orderProgress}">진행 상태</span><br>
													&lt;!&ndash; $laundryPrice원 &ndash;&gt;
													<span th:text="${orderList.laundryPrice}">단가</span>
												</div>
											</li>
										</th:block>-->

										<!-- orderList의 개수만큼 li -->
										<li>
											<div class="laundry-img">
												<img src="" alt="이미지">
											</div>
											<div class="laundry-name">
												<!-- $orderPMChoose $laundryName -->
												<span>이름</span><br>
												<!-- $orderNumber+$laundryNumber -->
												<span>번호</span>
											</div>
											<div class="laundry-condition">
												<!-- $orderProgress -->
												<span>진행 상태</span><br>
												<!-- $laundryPrice원 -->
												<span>단가</span>
											</div>
										</li>

									</ul>
								</div>
							</fieldset>
							<div class="total-price">
								<span>총액</span>
								<!-- $orderTotalPrice -->
								<span>액수</span>
							</div>
						</div>
						<div class="col col2">
							<fieldset>
								<legend>결제 금액</legend>
								<div>
									<ul class="price-list">
										<!-- orderList의 개수만큼 li -->
										<li>
											<span>$laundryName</span>
											<span>$laundryPrice원</span>
										</li>
									</ul>
								</div>
							</fieldset>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!---- App-Footer ---->
		<footer th:replace="~{/fragments/headerFooter :: footer}"></footer>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>