<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_use_service.css}">
        <!--⭐이용중인 서비스 세부-->
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header th:replace="~{/fragments/headerFooter:: header}">
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="container" style="max-width: 39.375rem; margin: 0 auto">
                    <div class="content" style="margin-top: 50px;">
                        <div class="title">
                            <h1 style="text-align: left; border-bottom: 3px solid black;">이용중인 서비스</h1>
                        </div>
                        <div class="use-list">
                            <ul>
                                <li class="service-info">신청 서비스
                                    <span style="float: right;">자유이용 서비스</span>
                                </li>
<!--                                <li class="service-info">신청일-->
<!--                                    <span style="float: right;">2022년 06월 16일</span>-->
<!--                                </li>-->
                                <li class="service-info">이용 상태
                                    <span class="type-service" style="float: right;" th:text="${loadUserInfo.userServiceType}"></span>
                                </li>
                                <li class="service-info">세탁요금
                                    <span style="float: right;">가격표에 의해 요금 부과</span>
                                </li>
                            </ul>
                            <div style="border-bottom: 3px solid black; margin-bottom:16px;"></div>
                            <ul>
                                <li class="service-info">배송지
                                    <span style="float: right;" th:text="${loadUserInfo.userAddress}"></span>
                                </li>
                                <li class="service-info">연락처
                                    <span style="float: right;" th:text="${loadUserInfo.userPhonenum}"></span>
                                </li>
                                <li class="service-info">공동현관 출입방법
                                    <span style="float: right;" th:text="${loadUserInfo.userEntranceType}"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="image-boxes" style="display: flex;
                        justify-content: space-around; margin-bottom: 100px; margin-top: 100px;">
                            <a href="./serviceChange">
                                <div class="change_image">
                                </div>
                                <h3 style="text-align: center;">변경</h3>
                            </a>
                            <a href="./changeCancel">
                                <div class="cancel_image">
                                </div>
                                <h3 style="text-align: center;">해지</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav th:replace="~{/fragments/headerFooter:: footer}">
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const type = document.querySelector(".type-service").text();

    if(type == "Once"){
        type.innerHTML = "한 번만 이용";
    }

    if(type == "serval"){
        type.innerHTML = "여러 번 이용"
    }
</script>
</html>