<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <!--⭐헤더 푸터-->
        <link rel="stylesheet" th:href="@{/css/style_frame.css}">
        <!--⭐틀-->
        <link rel="stylesheet" th:href="@{/css/style_use_service.css}">
        <!--⭐이용중인 서비스 세부-->
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header id="app-header" class="global-header hide-border-bottom">
                <section>
                    <div class="desktop-header">
                        <div class="left-section">
                            <div class="logo">
                                <a href="./index">
                                    <div class="logo-image">washgogo</div>
                                </a>
                            </div>
                        </div>
                        <div class="right-section">
                            <nav>
                                <!-- ⭐비로그인 헤더 -->
                                <ul class="nav-list sign-out" style="display: none;">
                                    <li class="nav-item">
                                        <a href="../guide">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./pricesheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./login">
                                            <span>로그인</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./join">
                                            <span>회원가입</span></a>
                                    </li>
                                </ul>
                                <!-- ⭐로그인 헤더 -->
                                <ul class="nav-list sign-in">
                                    <li class="nav-item">
                                        <a href="../guide">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./pricesheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">
                                            <span>이용내역</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./mypage">
                                            <span>마이페이지</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <button type="button" class="btn btn-primary pickup-request-btn">수거신청</button>
                        </div>
                    </div>
                </section>
            </header>
            <!---- App-Body ---->
            <div id="app-body">
                <div class="container" style="max-width: 39.375rem; margin: 0 auto">
                    <div class="content" style="margin-top: 50px;">
                        <div class="title">
                            <h1 style="text-align: left; border-bottom: 3px solid black;">이용중인 서비스</h1>
                        </div>
                        <div class="use-list">
                            <ul>
                                <li class="service-info">신청 서비스
                                    <span style="float: right;">자유이용서비스</span>
                                </li>
                                <li class="service-info">신청일
                                    <span style="float: right;">2022년 06월 16일</span>
                                </li>
                                <li class="service-info">이용 상태
                                    <span style="float: right;">이용중</span>
                                </li>
                                <li class="service-info">세탁요금
                                    <span style="float: right;">가격표에 의해 요금 부과</span>
                                </li>
                            </ul>
                            <div style="border-bottom: 3px solid black; margin-bottom:16px;"></div>
                            <ul>
                                <li class="service-info">배송지
                                    <span style="float: right;">서울특별시</span>
                                </li>
                                <li class="service-info">연락처
                                    <span style="float: right;">010-****-****</span>
                                </li>
                                <li class="service-info">공동현관 출입방법
                                    <span style="float: right;">자유 출입 가능 & 공동현관 없음</span>
                                </li>
                            </ul>
                        </div>
                        <div class="image-boxes" style="display: flex;
                        justify-content: space-around; margin-bottom: 100px; margin-top: 100px;">
                            <a href="./serviceChange">
                                <div class="change_image">
                                </div>
                                <h3 style="text-align: center;">변경</h3>
                            </a>
                            <a href="./changeCancel">
                                <div class="cancel_image">
                                </div>
                                <h3 style="text-align: center;">해지</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---- App-Footer ---->
            <nav id="app-footer" class="footer-container">
                <div class="footer-container-row">
                    <div class="col-content">
                        <p class="contact">1833-1900</p>
                        <p class="text-middle">
                            평일 10:00 - 18:00
                            <br>
                            (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                        </p>
                    </div>
                    <div class="col-content right">
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-appstore.svg"
                            alt="앱스토어">APP STORE</a>
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-palystore.svg"
                            alt="구글플레이">PLAY STORE</a>
                    </div>
                </div>
                <div class="footer-container-row terms">
                    <div class="term-container">
                        <div class="col-content term-content">
                            <img th:src="@{/img/logoGray.jpg}" alt="logo" class="logo">
                            <div class="col-content-list-term">
                                <a href="#" class="text term">이용약관</a>
                                <a href="#" class="text term">개인정보처리방침</a>
                                <a href="#" class="text term">사업자 정보확인</a>
                            </div>
                            <div>
                                <ul class="col-content-guide">
                                    <li class="text">(주)워시고고컴퍼니</li>
                                    <li class="text">대표 : 송민경 사업자 등록번호:561-87-00950</li>
                                    <li class="text">통신판매업신고 : 제2022-서울강서-2052호</li>
                                    <li class="text">주소 : 서울특별시 강서구 양천로 60길 1004(01004)</li>
                                    <li class="text">개인정보담당자 : 송민경 이메일:privacy@washgogo.kr</li>
                                    <li class="text">고객센터 : 1833-1900</li>
                                    <li class="text">Copyright2022 &copy; Washgogo All rights reserved</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-content badge-list right">
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-facebook.svg"
                                    alt="워시고고 페이스북 계정">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-instagram.svg"
                                    alt="워시고고 인스타그램">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverblog.svg"
                                    alt="워시고고 블로그">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverpost.svg"
                                    alt="워시고고 포스트">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-tistory.svg"
                                    alt="워시고고 스토리">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>