<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.washgogo.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.OrderVO" alias="orderVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.OrderListVO" alias="orderListVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.LaundryVO" alias="laundryVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.ProfileVO" alias="profileVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.ServiceAreaVO" alias="serviceAreaVO"/>
        <typeAlias type="com.project.washgogo.domain.vo.priceVO" alias="priceVO"/>
    </typeAliases>
</configuration>