<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.washgogo.mapper.OrderListMapper">
    <!--주문내역 리스트-->
    <select id="select" resultType="OrderListVO">
        SELECT ORDER_NUMBER, LAUNDRY_NUMBER, ORDER_PM_CHOOSE, ORDER_PM_OPTION, ORDER_PM_MESSAGE, ORDER_TYPE, ORDER_EA_QUANTITY
        FROM TBL_ORDERLIST
    </select>

    <!--상세 이용 내역-->
    <select id="getRecentList" resultType="orderListVO">
        SELECT A.ORDER_NUMBER, A.LAUNDRY_NUMBER, A.ORDER_TYPE, A.ORDER_PM_OPTION, A.ORDER_PM_MESSAGE, A.ORDER_EA_QUANTITY, B.LAUNDRY_NAME, B.LAUNDRY_PRICE, B.LAUNDRY_PM_PRICE, B.LAUNDRY_URL
        FROM TBL_ORDERLIST A, TBL_LAUNDRY B
        WHERE A.LAUNDRY_NUMBER = B.LAUNDRY_NUMBER
        AND A.ORDER_NUMBER = #{orderNumber}
        ORDER BY A.ORDER_NUMBER ASC
    </select>

    <!--배송비 추가-->
    <insert id="insertShipping">
        INSERT INTO TBL_ORDERLIST (ORDER_NUMBER, LAUNDRY_NUMBER, ORDER_EA_QUANTITY)
        VALUES(#{orderNumber}, 71, 1)
    </insert>
</mapper>