<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.washgogo.mapper.OrderMapper">
    <!--주문 리스트-->
    <select id="select" resultType="OrderVO">
        SELECT ORDER_NUMBER, USER_NUMBER, ORDER_DATE, ORDER_PROGRESS, ORDER_ALERT, ORDER_REQUEST_OPTION, ORDER_REQUEST_MESSAGE, ORDER_TOTAL_QUANTITY, ORDER_TOTAL_PRICE
        FROM TBL_ORDER
    </select>

    <!--수거 신청-->
    <insert id="applyRequest">
        <selectKey keyProperty="orderNumber" order="BEFORE" resultType="long">
            SELECT SEQ_ORDER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_ORDER (ORDER_NUMBER, USER_NUMBER, ORDER_REQUEST_OPTION, ORDER_REQUEST_MESSAGE)
        VALUES (SEQ_ORDER.NEXTVAL, #{userNumber}, #{orderRequestOption}, #{orderRequestMessage})
    </insert>

    <!--총 수량, 가격 삽입-->
    <update id="updateTotal">
        UPDATE TBL_ORDER
        SET ORDER_TOTAL_QUANTITY = #{orderTotalQuantity}, ORDER_TOTAL_PRICE = #{orderTotalPrice}
        WHERE ORDER_NUMBER = #{orderNumber}
    </update>

    <!--수거 취소-->
    <delete id="delete">
        DELETE FROM TBL_ORDER
        WHERE ORDER_NUMBER = #{orderNumber}
    </delete>

</mapper>