<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.washgogo.mapper.ProfileMapper">
    <insert id="insert">
        INSERT INTO TBL_PROFILE
        (FILE_NAME, ORIGINAL_FILE_NAME, UPLOAD_DIRECTORY, USER_NUMBER)
        VALUES(#{fileName}, #{originalFileName}, #{uploadDirectory}, #{userVO.userNumber})
    </insert>

    <select id="select" resultType="profileVO">
        SELECT FILE_NAME, ORIGINAL_FILE_NAME, UPLOAD_DIRECTORY
        FROM TBL_PROFILE
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <delete id="delete">
        DELETE FROM TBL_PROFILE
        WHERE USER_NUMBER = #{userNumber}
    </delete>

    <select id="getOldFiles" resultType="profileVO">
        SELECT FILE_NAME, ORIGINAL_FILE_NAME, UPLOAD_DIRECTORY
        FROM TBL_PROFILE WHERE UPLOAD_DIRECTORY = TO_CHAR(SYSDATE-1, 'YYYY/MM/DD')
    </select>
</mapper>