<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.washgogo.mapper.UserMapper">
    <select id="getList" resultType="userVO">
        SELECT USER_NUMBER, USER_EMAIL, USER_PW, USER_NAME, USER_PHONENUM, USER_ADDRESS, USER_ENTRANCE_TYPE, USER_ENTRANCE_PW, USER_ENTRANCE_MESSAGE, USER_SERVICE_TYPE, USER_LAUNDERETTE_TYPE, USER_POINT
        FROM TBL_USER
    </select>

    <!--이메일 중복 확인-->
    <select id="checkEmail" resultType="boolean">
        SELECT COUNT(USER_EMAIL)
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <!--유저 확인-->
    <select id="checkUser" resultType="boolean">
        SELECT COUNT(USER_Number)
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail} AND USER_PHONENUM = #{userPhonenum}
    </select>

    <!--유저 번호 확인-->
    <select id="findUserNumber" resultType="_int">
        SELECT USER_NUMBER
        FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail} AND USER_PHONENUM  = #{userPhonenum}
    </select>

    <!--비밀번호 수정-->
    <update id="changePw">
        UPDATE TBL_USER
        SET USER_PW = #{userPw}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <!--회원 가입-->
    <insert id="insert">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER (USER_NUMBER, USER_EMAIL, USER_PW, USER_NAME, USER_PHONENUM)
        VALUES (#{userNumber}, #{userEmail}, #{userPw}, #{userName}, #{userPhonenum})
    </insert>

    <!--마이페이지-->
    <select id="selectMyPageInfo" resultType="userVO">
        SELECT USER_NAME, USER_EMAIL
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>
    <select id="selectUserInfo" resultType="userVO">
        SELECT USER_NUMBER, USER_EMAIL, USER_PW, USER_NAME, USER_PHONENUM, USER_ADDRESS, USER_ADDRESS_DETAIL, USER_ENTRANCE_TYPE, USER_ENTRANCE_PW, USER_ENTRANCE_MESSAGE, USER_SERVICE_TYPE, USER_LAUNDERETTE_TYPE, USER_POINT
        FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <!--로그인-->
    <select id="login" resultType="long">
        SELECT USER_NUMBER
		FROM TBL_USER
		WHERE USER_EMAIL = #{userEmail} AND USER_PW = #{userPw}
	</select>

    <!--회원 정보 수정-->
    <update id="updateUserInfo">
        UPDATE TBL_USER
        SET USER_EMAIL = #{userEmail}, USER_PW = #{userPw}, USER_NAME = #{userName}, USER_PHONENUM = #{userPhonenum}, USER_ADDRESS = #{userAddress},  USER_ADDRESS_DETAIL = #{userAddressDetail}, USER_ENTRANCE_TYPE = #{userEntranceType}, USER_ENTRANCE_PW = #{userEntrancePw}
        WHERE USER_NUMBER=#{userNumber}
    </update>

    <!--서비스 변경-->
    <update id="updateService">
        UPDATE TBL_USER
        <trim prefix="SET" suffixOverrides=",">
            USER_SERVICE_TYPE = #{userServiceType},
            <if test="userLaunderetteType != null">USER_LAUNDERETTE_TYPE = #{userLaunderetteType},</if>
        </trim>
        WHERE USER_NUMBER=#{userNumber}
    </update>

    <!--주소 입력 및 수정-->
    <update id="updateAddress">
        UPDATE TBL_USER
        <trim prefix="SET" suffixOverrides=",">
            USER_ADDRESS = #{userAddress}, USER_ADDRESS_DETAIL = #{userAddressDetail}, USER_ENTRANCE_TYPE = #{userEntranceType},
            <if test="userEntrancePw != null">USER_ENTRANCE_PW = #{userEntrancePw},</if>
            <if test="userEntranceMessage != null">USER_ENTRANCE_MESSAGE = #{userEntranceMessage},</if>
        </trim>
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <!--회원 탈퇴-->
    <delete id="delete">
        DELETE FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </delete>


</mapper>