<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워시고고 - 우리집 모바일 세탁소</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/serviceSubscribePayment.css}">
</head>
<body>
<div id="app">
    <!---- App-Header ---->
    <header th:replace="~{/fragments/headerFooter:: header}">
    </header>
    <!---- App-Body ---->
    <div id="app-body">
        <div class="payment">
            <div class="content-wrap">
                <div class="main-title">
                    <p>
                        <strong>자유이용 서비스</strong>로<br>
                        빨래 없는 생활을 시작해보세요.
                    </p>
                </div>
                <section class="address">
                    <div class="title">
                        <h2>수거/배송 주소</h2>
                        <a id="modify" onclick="modifyAddress()">수정 ></a>
                    </div>
                    <div class ="inner" th:object="${userVO}">
                        <p id="address-wrap">
                            <span id="address" th:text="*{userAddress}"></span>
                            <span id="addressDetail" th:text="*{userAddressDetail}"></span>
                        </p>
                        <p id="getin-wrap" class="info">
                            <span id="means" th:text="*{userEntranceType}"></span>
                            <span class="colon" th:if="*{(userEntrancePw != null && userEntrancePw !='')|| (userEntranceMessage != null && userEntranceMessage != '')}"> :</span>
                            <span th:text="*{userEntrancePw}" th:if="*{userEntrancePw != null}"></span>
                            <span th:text="*{userEntranceMessage}" th:if="*{userEntranceMessage != null}"></span>
                        </p>
                    </div>
                </section>
            </div>
            <div class="content-wrap">
                <section class="launderette-choice">
                    <form name="serviceForm" action="/user/servicePaymentOk" method="post">
                        <input type="hidden" name="userServiceType" value="여러 번 이용">
                        <div class="title">
                            <h2>런드렛 선택</h2>
                            <p class="info">
                                고객님의 라이프스타일에 맞는 런드렛을 선택하세요.<br>
                                세탁 완료 후 배송 시 런드렛에 담아 보내드립니다.
                            </p>
                        </div>
                        <ul class="choice-wrap">
                            <li class="focus">
                                <label>
                                    <input type="radio" style="display: none" name="userLaunderetteType" value="Regular" checked>
                                    <div class="recommend">추천</div>
                                    <div class="text-content">
                                        <p class="info">부피가 큰 의류에</p>
                                        <h3>런드렛 레귤러</h3>
                                    </div>
                                    <div class="image-content"></div>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" style="display: none" name="userLaunderetteType" value="Mini">
                                    <div class="text-content">
                                        <p class="info">부피가 적은 의류에</p>
                                        <h3>런드렛 미니</h3>
                                    </div>
                                    <div class="image-content"></div>
                                </label>
                            </li>
                        </ul>
                        <div class="more-info">
                            <a>런드렛 알아보기 ></a>
                        </div>
                    </form>
                </section>
            </div>
            <div class="content-wrap">
                <section class="agreement">
                    <div class="title">
                        <h2>약관 동의 (필수)</h2>
                    </div>
                    <ul>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="useAgreement" value="agree">
                                <p>이용약관에 동의 합니다.</p>
                            </label>
                            <a class="terms">보기</a>
                        </li>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="personalInfoAgreement" value="agree">
                                <p>개인정보 수집 및 이용에 동의합니다.</p>
                            </label>
                            <a class="terms">보기</a>
                        </li>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="serviceAgreement" value="agree">
                                <p>아래 서비스 이용사항에 동의합니다.</p>
                            </label>
                        </li>
                        <li>
                            <p class="info">
                                웰컴키트는 6주동안 이용내역이 없거나, 서비스 해지 시 고객센터에
                                반납이 필요하며, 고객 부주의 및 귀책 등으로 반납되지 않을 시 5만원
                                비용 부과됩니다.
                            </p>
                        </li>
                    </ul>
                </section>
                <div class="btn-area">
                    <button type="button" class="btn-subscribe" id="subscribeBtn">서비스 가입하기</button>
                </div>
            </div>
        </div>
    </div>
    <!---- App-Footer ---->
    <nav th:replace="~{/fragments/headerFooter:: footer}">
    </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/servicePayment.js"></script>
<script th:inline="javascript">
    let address = [[${userVO.userAddress}]];
    let addressDetail = [[${userVO.userAddressDetail}]];
    let entranceType = [[${userVO.userEntranceType}]];
    let entrancePw = [[${userVO.userEntrancePw}]];
    let entranceMessage = [[${userVO.userEntranceMessage}]];
</script>
<script th:src="@{/js/servicePayment.js}"></script>
</html>