<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워시고고 - 우리집 모바일 세탁소</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/serviceSubscribePayment.css}">
</head>
<body>
<div id="app">
    <!---- App-Header ---->
    <header th:replace="~{/fragments/headerFooter:: header}">
    </header>
    <!---- App-Body ---->
    <div id="app-body">
        <div class="payment">
            <div class="content-wrap">
                <div class="main-title">
                    <p>
                        <strong>자유이용 서비스</strong>로<br>
                        빨래 없는 생활을 시작해보세요.
                    </p>
                </div>
                <section class="address">
                    <div class="title">
                        <h2>수거/배송 주소</h2>
                        <a id="modify">수정 ></a>
                    </div>
                    <div class ="inner">
                        <p id="address-wrap">
                            <span id="address">서울특별시 강남구 강남대로 242(크리스탈빌딩)</span>
                            <span id="addressDetail">A동 1004호</span>
                        </p>
                        <p id="getin-wrap" class="info">
                            <span id="means">공동현관 비밀번호</span><span class="colon">:</span>
                            <span id="msg">#1234</span>
                        </p>
                    </div>
                </section>
            </div>
            <div class="content-wrap">
                <section class="laundret-choice">
                    <div class="title">
                        <h2>런드렛 선택</h2>
                        <p class="info">
                            고객님의 라이프스타일에 맞는 런드렛을 선택하세요.<br>
                            세탁 완료 후 배송 시 런드렛에 담아 보내드립니다.
                        </p>
                    </div>
                    <ul class="choice-wrap">
                        <li class="focus">
                            <div class="recommend">추천</div>
                            <div class="text-content">
                                <p class="info">부피가 큰 의류에</p>
                                <h3>런드렛 레귤러</h3>
                            </div>
                            <div class="image-content"></div>
                        </li>
                        <li>
                            <div class="text-content">
                                <p class="info">부피가 적은 의류에</p>
                                <h3>런드렛 미니</h3>
                            </div>
                            <div class="image-content"></div>
                        </li>
                    </ul>
                    <div class="more-info">
                        <a>런드렛 알아보기 ></a>
                    </div>
                </section>
            </div>
            <div class="content-wrap">
                <section class="payment-info">
                    <div class="title">
                        <h2>결제 정보</h2>
                        <a id="modifyCard">카드 변경 ></a>
                    </div>
                    <div class="beforeRegister">
                        <button type="button" class="pay">+ 결제카드 등록</button>
                        <ul>
                            <li>
                                <p class="info">타인 명의로 된 신용카드는 등록하실 수 없습니다.</p>
                            </li>
                            <li>
                                <p class="info">[MY > 내정보 > 결제 정보]에서 결제카드를 변경하실 수 있습니다.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="afterRegister">
                        <div class="card-info">
                            <h2 class="card-name">하나카드</h2>
                            <div class="card-number">
                                <input type="password" value="1234">
                                <input type="password" value="1234">
                                <input type="password" value="1234">
                                <input type="text" value="1004">
                            </div>
                        </div>
                        <ul>
                            <li>
                                <p class="info">선택하신 카드로 결제 금액이 자동결제 됩니다.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="line"></div>
                    <div class="check-wrap">
                        <label>
                            <div class="check"></div>
                            <input type="checkbox" name="auto-payment-agree" value="agree">
                            <p>결제 정보 저장 및 자동결제에 동의합니다.</p>
                        </label>
                    </div>
                </section>
            </div>
            <div class="content-wrap">
                <section class="agreement">
                    <div class="title">
                        <h2>약관 동의 (필수)</h2>
                    </div>
                    <ul>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="useAgreement" value="agree">
                                <p>이용약관에 동의 합니다.</p>
                            </label>
                            <a class="terms">보기</a>
                        </li>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="personalInfoAgreement" value="agree">
                                <p>개인정보 수집 및 이용에 동의합니다.</p>
                            </label>
                            <a class="terms">보기</a>
                        </li>
                        <li>
                            <label>
                                <div class="check"></div>
                                <input type="checkbox" name="serviceAgreement" value="agree">
                                <p>아래 서비스 이용사항에 동의합니다.</p>
                            </label>
                        </li>
                        <li>
                            <p class="info">
                                웰컴키트는 6주동안 이용내역이 없거나, 서비스 해지 시 고객센터에
                                반납이 필요하며, 고객 부주의 및 귀책 등으로 반납되지 않을 시 5만원
                                비용 부과됩니다.
                            </p>
                        </li>
                    </ul>
                </section>
                <div class="btn-area">
                    <button type="button" class="btn-subscribe">서비스 가입하기</button>
                </div>
            </div>
        </div>
    </div>
    <!---- App-Footer ---->
    <nav th:replace="~{/fragments/headerFooter:: footer}">
    </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/servicePayment.js"></script>
<script th:src="@{/js/servicePayment.js}"></script>
</html>