<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워시고고 - 우리집 모바일 세탁소</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/guide.css">
</head>
<body>
<div id="app">
    <!---- App-Header ---->
    <header th:replace="~{/fragments/headerFooter:: header}">
    </header>
    <!---- App-Body ---->
    <div id="app-body">
        <div class="guide">
            <div class="header">
                <h1 class="title">세탁과 수선이<br>필요한 모든 순간,<br><strong>워시고고</strong> 시작하기</h1>
                <p class="desc">오늘 밤 10시 전에 수거 신청하면<br>내일 밤 문 앞으로 도착</p>
            </div>
            <div class="tab-container" id="tab-container">
                <nav class="tab">
                    <a href="#tab-container" class="active"><span>첫 이용</span></a>
                    <a href="#tab-container"><span>다음 이용</span></a>
                    <a href="#tab-container"><span>서비스 지역</span></a>
                </nav>
                <div class="tab-depth" style="display: none;">
                    <a href="#tab-container" class="active"><span>런드렛</span></a>
                    <a href="#tab-container"><span>라이트백</span></a>
                </div>
            </div>
            <div class="contents-container">
                <!---- First-Use ---->
                <section class="first-use">
                    <div class="contents-wrapper">
                        <div class="content">
                            <h1>
                                <span class="step">Step 1.</span>
                                <span>나에게 맞는 서비스를 신청하세요.</span>
                            </h1>
                            <div class="item">
                                <div class="text-content">
                                    <ul class="step-list">
                                        <li>
                                            <h2>여러 번 이용</h2>
                                            <p>원하는 만큼 자유롭게 이용하세요.</p>
                                        </li>
                                        <li>
                                            <h2>1회 이용</h2>
                                            <p>부담없이 간편하게 이용하세요.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="image-content"><img th:src="@{/img/service.png}" alt="이용 가능한 서비스"></div>
                            </div>
                        </div>
                        <div class="content">
                            <h1>
                                <span class="step">Step 2.</span>
                                <span>오늘 밤 10시 전 세탁물을 문 앞에 내놓고 수거 신청하세요.</span>
                            </h1>
                            <div class="item">
                                <div class="text-content">
                                    <p>
                                        정확한 서비스를 위해
                                        <strong>워시고고 + 세탁물명</strong>을 표기하여
                                        <span>문 앞에 내놓아주세요.</span>
                                    </p>
                                </div>
                                <div class="image-content"><img th:src="@{/img/howtoStep2.png}" alt="세탁물 맡기는 방법"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="item">
                                <div>
                                    <h1>
                                        <span class="step">Step 3.</span>
                                        <span>내 옷의 진행 상황을<br>실시간으로 확인할 수 있어요.</span>
                                    </h1>
                                    <div class="text-content">
                                        <p>이용내역에서 실시간으로 확인해보세요.</p>
                                    </div>
                                </div>
                                <div class="video-content">
                                    <video th:src="@{/img/howtoStep3.mp4}" autoplay muted loop />
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="item">
                                <div>
                                    <h1>
                                        <span class="step">Step 4.</span>
                                        <span>내일 밤 세탁된 옷이 문앞에 도착해요.</span>
                                    </h1>
                                    <div class="text-content">
                                        <p>
                                            신청한 배송 방식에 따라 런드렛 혹은 라이트백에<br>
                                            세탁물이 담겨 배송됩니다.
                                        </p>
                                        <p class="caution">
                                            수선을 맡기는 경우
                                            <em>배송기간이 2일 소요</em>되며, 세탁과 수선을 <br>
                                            함께 맡기는 경우는
                                            <em>수선 완료 시</em>
                                            함께 배송됩니다.
                                        </p>
                                    </div>
                                </div>
                                <div class="image-content">
                                    <img th:src="@{/img/icon01.png}" alt="신청한 배송 방식">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!---- Next-Use ---->
                <section class="next-use" style="display:none;">
                    <div class="launderette">
                        <div class="content launderette-setting">
                            <div class="title-wrap">
                                <span class="step">STEP 01</span>
                                <div><h2 class="highlight">런드렛 세팅하기</h2></div>
                                <div><h2 class="title">런드렛 세팅하기</h2></div>
                            </div>
                            <div class="item">
                                <div class="image-content"><img th:src="@{/img/launderetteKit.png}" alt="런드렛 키트 구성품"></div>
                                <div class="text-content">
                                    <h3>런드렛 키트 살펴보기</h3>
                                    <ul class="number-list">
                                        <li>
                                            <div class="number">1</div>
                                            <span>런드렛</span>
                                        </li>
                                        <li>
                                            <div class="number">2</div>
                                            <span>속옷망</span>
                                        </li>
                                        <li>
                                            <div class="number">3</div>
                                            <span>안심고리</span>
                                        </li>
                                        <li>
                                            <div class="number">4</div>
                                            <span>조임툴</span>
                                        </li>
                                        <li>
                                            <div class="number">5</div>
                                            <span>빨래망(2개)</span>
                                        </li>
                                        <li>
                                            <div class="number">6</div>
                                            <span>이불팩</span>
                                        </li>
                                        <li>
                                            <div class="number">7</div>
                                            <span>운동화 비닐</span>
                                        </li>
                                    </ul>
                                </div>
                                <button id="btnKitDetail">구성품 자세히 보기 ></button>
                            </div>
                            <div class="item">
                                <div class="text-content">
                                    <h3>안심고리 설치하기</h3>
                                    <p>안심고리를 한 번만 설치하면 더욱 안전하게 서비스를 이용할 수 있어요.</p>
                                </div>
                                <ul class="img-list">
                                    <li><div class="image-content"><img th:src="@{/img/safety01.jpg}" alt="안심고리 설치 방법"></div></li>
                                    <li><div class="image-content"><img th:src="@{/img/safety02.jpg}" alt="안심고리 설치 방법"></div></li>
                                </ul>
                                <div class="text-content">
                                    <ul class="number-list">
                                        <li>
                                            <div class="number">1</div>
                                            <span>줄을 문고리에 걸어 사이즈에 맞게 꽉 당겨주세요.</span>
                                        </li>
                                        <li>
                                            <div class="number">2</div>
                                            <span>조임툴로 나사를 조여 단단히 고정해 주세요.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content laundry-setting">
                            <div class="title-wrap">
                                <span class="step">STEP 02</span>
                                <div><h2 class="highlight">오늘 밤 런드렛 맡기기</h2></div>
                                <div><h2 class="title">오늘 밤 런드렛 맡기기</h2></div>
                                <p>세탁물별로 분리 후 런드렛에 담아 문 앞에 내놓아주세요.</p>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="title-content">
                                        <h3>세탁물 맡기는 방법</h3>
                                    </div>
                                    <ul class="setting-guide">
                                        <li>
                                            <div class="text-content">
                                                <h3>생활빨래</h3>
                                                <span>전용 빨래망에 담아주세요.</span>
                                                <p>
                                                    <strong>생활빨래</strong>는 별도의 검수를 하지 않고, 기계 세탁 및 건도 후
                                                    다림질 없이 개어 보내드립니다.<br>
                                                    <strong>속옷</strong>은 별도 포장해 생활 빨래에 담아주세요.
                                                </p>
                                            </div>
                                            <div class="image-content"><img th:src="@{/img/guide_laundry_setting01.jpg}" alt="생활빨래"></div>
                                        </li>
                                        <li>
                                            <div class="text-content">
                                                <h3>개별클리닝&와이셔츠</h3>
                                                <span>런드렛에 바로 담아주세요.</span>
                                                <p>
                                                    <strong>케어라벨</strong>에 따라 드라이클리닝 혹은 웨트드라이로 세탁되며,
                                                    안심 정찰 가격표에 의해 의류 별로 과금됩니다.
                                                </p>
                                            </div>
                                            <div class="image-content"><img th:src="@{/img/guide_laundry_setting02.jpg}" alt="개별클리닝, 와이셔츠"></div>
                                        </li>
                                        <li>
                                            <div class="text-content">
                                                <h3>이불</h3>
                                                <span>이불팩에 담아 런드렛에 넣거나, 이불팩 손잡이를 안심고리에 걸어 런드렛 옆에 놓아주세요.</span>
                                            </div>
                                            <div class="image-content"><img th:src="@{/img/guide_laundry_setting03.jpg}" alt="이불"></div>
                                        </li>
                                        <li>
                                            <div class="text-content">
                                                <h3>신발&운동화</h3>
                                                <span>
                                                    신발 전용 비닐에 담아주세요. 전용 비닐이 없을 겨우,
                                                    집에 있는 비닐이나 쇼핑백에 담아주세요.
                                                </span>
                                            </div>
                                            <div class="image-content"><img th:src="@{/img/guide_laundry_setting04.jpg}" alt="신발"></div>
                                        </li>
                                    </ul>
                                </div>
                                <button id="btnCautionDetail">주의사항 자세히 보기 ></button>
                            </div>
                            <div class="item">
                                <ul class="number-list">
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/launderette-use01.jpg}" alt="런드렛 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">1</div>
                                            <span>위의 분류 방법대로 <strong>세탁물을 담은 런드렛</strong>에 넣고 문 앞에 내놓아 주세요.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/launderette-use02.jpg}" alt="런드렛 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">2</div>
                                            <span>안심고리를 당겨 <strong>런드렛 안에 넣고 잠궈 주세요.</strong></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/launderette-use03.jpg}" alt="런드렛 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">3</div>
                                            <span><strong>오늘 밤 10시 전</strong> 수거 신청하면 오늘 빨래 끝!</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="text-content">
                                    <h3>어떤 런드렛을 이용하고 계시나요?</h3>
                                </div>
                                <div class="button-wrapper">
                                    <button id="btnDialKeyInfo">다이얼키 이용 방법 ></button>
                                    <button id="btnSmartKeyInfo">스마트키 이용 방법 ></button>
                                </div>
                            </div>
                        </div>
                        <div class="content get-laundry">
                            <div class="title-wrap">
                                <span class="step">STEP 03</span>
                                <div><h2 class="highlight">내일 밤 문 앞에서 받기</h2></div>
                                <div><h2 class="title">내일 밤 문 앞에서 받기</h2></div>
                                <p>깨끗하게 세탁된 옷은 런드렛에 담아 안전하게 배송됩니다.</p>
                            </div>
                            <div class="image-content"><img th:src="@{/img/iconTwice.png}" alt="런드렛 키트 구성품"></div>
                            <div class="caution">
                                <p>
                                    수선 의류를 맡기는 경우 <strong>배송기간이 2일 소요</strong>되며, 세탁과
                                    수선을 함께 맡기는 경우는 <strong>수선 완료 시</strong> 함께 배송됩니다.
                                </p>
                            </div>
                        </div>
                        <div class="pickup-btn-wrap">
                            <button class="request-pickup">수거 신청하기</button>
                        </div>
                    </div>
                    <div class="lightbag" style="display: none;">
                        <div class="content lightbag-types">
                            <div class="title-wrap">
                                <span class="step">STEP 01</span>
                                <div><h2 class="highlight">라이트백 살펴보기</h2></div>
                                <div><h2 class="title">라이트백 살펴보기</h2></div>
                                <p>세탁 방식과 양에 맞춰 사이즈 별로 제공됩니다.</p>
                            </div>
                            <div class="item">
                                <div class="text-content">
                                    <ul class="number-list">
                                        <li>
                                            <div class="image-content"><img th:src="@{/img/lightbag01.jpg}" alt="라이트백 라지"></div>
                                            <div class="number">1</div>
                                            <span>Large</span>
                                        </li>
                                        <li>
                                            <div class="image-content"><img th:src="@{/img/lightbag02.jpg}" alt="라이트백 스몰"></div>
                                            <div class="number">2</div>
                                            <span>Small</span>
                                        </li>
                                        <li>
                                            <div class="image-content"><img th:src="@{/img/lightbag03.jpg}" alt="라이트백 핸디"></div>
                                            <div class="number">3</div>
                                            <span>Handy</span>
                                        </li>
                                    </ul>
                                    <span>
                                        옷걸이가 걸리지 않는 현관문 손잡이의 경우, 라이트백을 걸 수 있도록
                                        <strong>전용 도어 후크</strong>를 제공합니다.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content lightbag-setting">
                            <div class="title-wrap">
                                <span class="step">STEP 02</span>
                                <div><h2 class="highlight">오늘 밤 라이트백 맡기기</h2></div>
                                <div><h2 class="title">오늘 밤 라이트백 맡기기</h2></div>
                                <p>세탁물별로 분리 후 라이트백에 담아 문 앞에 내놓아주세요.</p>
                                <span>
                                    <strong>라이트백</strong>이 없는 경우, 첫 이용과 동일하게 비닐이나
                                    쇼핑백에 구분해 담아 표기 후 문 앞에 내놓아주세요.
                                </span>
                            </div>
                            <div class="item">
                                <div class="inner">
                                    <div class="title-content">
                                        <h3><span>A</span> 라이트백 바로 담기</h3>
                                    </div>
                                    <div class="image-content">
                                        <img th:src="@{/img/icon_individual.jpg}" alt="개별클리닝">
                                        <img th:src="@{/img/iconshirt.jpg}" alt="와이셔츠">
                                    </div>
                                    <div class="text-content">
                                        <h3>개별클리닝&와이셔츠</h3>
                                        <span>별도의 포장 및 표기 없이 <strong>라이트백에 바로</strong> 담아주세요.</span>
                                        <p>
                                            <strong>케어라벨</strong>에 따라 드라이클리닝 혹은 웨트드라이로 세탁되며,
                                            안심 정찰 가격표에 의해 의류 별로 과금됩니다.
                                        </p>
                                    </div>
                                    <div class="title-content">
                                        <h3><span>B 비닐, 쇼핑백 구분 후</span> 라이트백 담기</h3>
                                    </div>
                                    <div class="inner-inner">
                                        <ul class="setting-guide">
                                            <li>
                                                <div class="image-content"><img th:src="@{/img/normal.png}" alt="생활빨래"></div>
                                                <div class="text-content">
                                                    <h3>생활빨래</h3>
                                                    <div class="one-line">
                                                        <div><h2 class="highlight">'워시고고 생활빨래'</h2></div>
                                                        <div><h2 class="title">'워시고고 생활빨래'</h2></div>
                                                        <span>를 표기해주세요.</span>
                                                    </div>
                                                    <p>
                                                        <strong>생활빨래</strong>는 별도의 검수를 하지 않고, 기계 세탁 및 건도 후
                                                        다림질 없이 개어 보내드립니다.<br>
                                                        <strong>속옷</strong>은 별도 포장해 생활 빨래에 담아주세요.
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="image-content">
                                                    <img th:src="@{/img/icon_bedding.jpg}" alt="이불">
                                                    <img th:src="@{/img/shoes.png}" alt="운동화">
                                                </div>
                                                <div class="text-content">
                                                    <h3>기타</h3>
                                                    <div class="one-line">
                                                        <div><h2 class="highlight">'워시고고 세탁물명(이불, 운동화 등)'</h2></div>
                                                        <div><h2 class="title">'워시고고 세탁물명(이불, 운동화 등)'</h2></div>
                                                        <span>을 표기해주세요.</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <ul class="number-list">
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/lightbag-use01.jpg}" alt="라이트백 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">1</div>
                                            <span>
                                                위의 분류 방법대로<em>(A,B)</em>
                                                세탁물을 <strong>라이트백에 바로 담거나 비닐, 쇼핑백에 구분하여 표기 후 라이트백</strong>
                                                에 담아주세요.
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/lightbag-use02.jpg}" alt="라이트백 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">2</div>
                                            <span>
                                                <strong>세탁물을 담은 라이트백</strong>
                                                을 문 앞에 내놓아주세요.
                                            </span>
                                            <p>분리 포장한 비닐, 쇼핑백도 라이트백에 함께 달아주세요.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="image-content"><img th:src="@{/img/launderette-use03.jpg}" alt="라이트백 이용 방법"></div>
                                        <div class="text-content">
                                            <div class="number">3</div>
                                            <span><strong>오늘 밤 10시 전</strong> 수거 신청하면 오늘 빨래 끝!</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content get-lightbag">
                            <div class="title-wrap">
                                <span class="step">STEP 03</span>
                                <div><h2 class="highlight">내일 밤 문 앞에서 받기</h2></div>
                                <div><h2 class="title">내일 밤 문 앞에서 받기</h2></div>
                                <p>깨끗하게 세탁된 옷은 라이트백에 담아 현관문 손잡이 혹은 전용 도어 후크에 걸어 놓을게요.</p>
                            </div>
                            <div class="image-content"><img th:src="@{/img/iconOnce.png}" alt="런드렛 키트 구성품"></div>
                            <div class="caution">
                                <p>
                                    수선 의류를 맡기는 경우 <strong>배송기간이 2일 소요</strong>되며, 세탁과
                                    수선을 함께 맡기는 경우는 <strong>수선 완료 시</strong> 함께 배송됩니다.
                                </p>
                            </div>
                        </div>
                        <div class="pickup-btn-wrap">
                            <button class="request-pickup">수거 신청하기</button>
                        </div>
                    </div>
                </section>
                <!---- Service-Area ---->
                <section class="service-area" style="display: none">
                    <div class="image-wrapper">
                        <img th:src="@{/img/serviceArea.png}" alt="서비스 가능 지역">
                    </div>
                    <div class="category container">
                        <div class="category-header">
                            <h2 class="title">서비스 지역 확인</h2>
                            <div class="desc">
                                서울 전지역과 수도권 일부 지역에서<br>
                                세탁말고, 워시고고
                            </div>
                        </div>
                        <ul class="location-list">
                            <li class="location-item"><a>전체</a></li>
                            <li class="location-item"><a>서울</a></li>
                            <li class="location-item"><a>성남</a></li>
                            <li class="location-item"><a>용인</a></li>
                            <li class="location-item"><a>동탄</a></li>
                            <li class="location-item"><a>하남</a></li>
                            <li class="location-item"><a>안양</a></li>
                            <li class="location-item"><a>광명</a></li>
                            <li class="location-item"><a>부천</a></li>
                            <li class="location-item"><a>인천</a></li>
                            <li class="location-item"><a>김포</a></li>
                            <li class="location-item"><a>고양</a></li>
                            <li class="location-item"><a>파주</a></li>
                        </ul>
                    </div>
                    <div class="location-info container">
                        <div class="info-item summary">
                            <div class="title-wrap">
                                <div><span class="highlight">서울, 경기/인천 일부</span></div>
                                <div><span class="title">서울, 경기/인천 일부</span></div>
                            </div>
                            <ul class="area">
                                <li>서울 전 지역</li>
                                <li>경기 부천시, 고양시, 안양시, 의왕시, 과천시, <span class="new">군포시</span></li>
                                <li>경기 성남시</li>
                                <li>경기 김포시 일부</li>
                                <li>경기 용인시 (수지구, 기흥구)</li>
                                <li>경기 하남시 일부, 미사강변신도시</li>
                                <li>경기 수원시 (팔달구, 영통구)</li>
                                <li>경기 광명시 일부</li>
                                <li>위례신도시, 동탄신도시, <span class="new">광교신도시</span></li>
                                <li><span class="new">인천광역시</span></li>
                            </ul>
                        </div>
                        <div class="info-item seoul">
                            <div class="title-wrap">
                                <div><span class="highlight">서울</span></div>
                                <div><span class="title">서울</span></div>
                            </div>
                            <ul class="area">
                                <li>서울 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item seong-nam">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 성남시</span></div>
                                <div><span class="title">경기 성남시</span></div>
                            </div>
                            <ul class="area">
                                <li>
                                    분당
                                    <p>금곡동, 구미동, 정자동, 수내동, 분당동, 서현동</p>
                                </li>
                                <li>
                                    판교
                                    <p>운중동, 판교동, 백현동, 삼평동, 야탑동, 이매동</p>
                                </li>
                                <li>
                                    위례
                                    <p>창곡동, 학암동</p>
                                </li>
                                <li>
                                    중원
                                    <p>도촌동</p>
                                </li>
                            </ul>
                        </div>
                        <div class="info-item yong-in">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 용인시</span></div>
                                <div><span class="title">경기 용인시</span></div>
                            </div>
                            <ul class="area">
                                <li>수지구</li>
                                <li>기흥구</li>
                            </ul>
                        </div>
                        <div class="info-item yong-in">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 수원시</span></div>
                                <div><span class="title">경기 수원시</span></div>
                            </div>
                            <ul class="area">
                                <li>팔달구</li>
                                <li>영통구</li>
                            </ul>
                        </div>
                        <div class="info-item dong-tan">
                            <div class="title-wrap">
                                <div><span class="highlight">동탄신도시</span></div>
                                <div><span class="title">동탄신도시</span></div>
                            </div>
                            <ul class="area">
                                <li>동탄신도시</li>
                            </ul>
                        </div>
                        <div class="info-item ha-nam">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 하남시</span></div>
                                <div><span class="title">경기 하남시</span></div>
                            </div>
                            <ul class="area">
                                <li>미사강변신도시 (선동, 망월동, 풍산동)</li>
                                <li>덕풍동, 신장동, 창우동, 감일동, 감이동</li>
                            </ul>
                        </div>
                        <div class="info-item an-yang">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 안양시</span></div>
                                <div><span class="title">경기 안양시</span></div>
                            </div>
                            <ul class="area">
                                <li>경기도 안양시 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item an-yang">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 과천시</span></div>
                                <div><span class="title">경기 과천시</span></div>
                            </div>
                            <ul class="area">
                                <li>경기도 과천시 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item an-yang">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 군포시</span></div>
                                <div><span class="title">경기 군포시</span></div>
                            </div>
                            <ul class="area">
                                <li>경기도 군포시 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item an-yang">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 의왕시</span></div>
                                <div><span class="title">경기 의왕시</span></div>
                            </div>
                            <ul class="area">
                                <li>경기도 의왕시 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item gwang-myeong">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 광명시</span></div>
                                <div><span class="title">경기 광명시</span></div>
                            </div>
                            <ul class="area">
                                <li>일직동, 소하동, 하안동, 철산동, 광명동</li>
                            </ul>
                        </div>
                        <div class="info-item bu-cheon">
                            <div class="title-wrap">
                                <div><span class="highlight">경기도 부천시</span></div>
                                <div><span class="title">경기도 부천시</span></div>
                            </div>
                            <ul class="area">
                                <li>경기도 부천시 전 지역</li>
                            </ul>
                        </div>
                        <div class="info-item in-cheon">
                            <div class="title-wrap">
                                <div><span class="highlight">인천광역시</span></div>
                                <div><span class="title">인천광역시</span></div>
                            </div>
                            <ul class="area">
                                <li>계양구, 남동구, 동구, 미추홀구, 부평구</li>
                                <li>중구 (영종도 제외)</li>
                                <li>서구 (청라동, 가정동, 가좌동, 석남동, 신현동)</li>
                                <li>송도국제도시, 청라국제도시</li>
                            </ul>
                        </div>
                        <div class="info-item gim-po">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 김포시</span></div>
                                <div><span class="title">경기 김포시</span></div>
                            </div>
                            <ul class="area">
                                <li>장기동, 구래동, 마산동, 걸포동, 운양동, 감정동, 북변동, 사우동, 풍무동</li>
                            </ul>
                        </div>
                        <div class="info-item go-yang">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 고양시</span></div>
                                <div><span class="title">경기 고양시</span></div>
                            </div>
                            <ul class="area">
                                <li>일산 서구</li>
                                <li>일산 동구</li>
                                <li>
                                    덕양구
                                    <p>효자동, 북한동, 벽제동, 선유동 제외</p>
                                </li>
                            </ul>
                        </div>
                        <div class="info-item pa-ju">
                            <div class="title-wrap">
                                <div><span class="highlight">경기 파주시</span></div>
                                <div><span class="title">경기 파주시</span></div>
                            </div>
                            <ul class="area">
                                <li>와동동, 목동동, 야당동, 동패동, 당하동, 다율동, 문발동</li>
                            </ul>
                        </div>
                    </div>
                    <div class="caution-wrap container">
                        <span class="caution"><em>일부 지역</em>은 신청이 불가할 수 있으며, 정확한 서비스 지역은 주소 검색 후 확인이 가능합니다.</span>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal-bg"></div>
        <div class="modal-container kitDetail">
            <div class="modal-inner">
                <h2 class="modal-title">런드렛 키트</h2>
                <div class="modal-content">
                    <ul class="number-list">
                        <li>
                            <div class="image-content" style="background-image: url('/img/launderette.png');"></div>
                            <div class="text-content">
                                <div class="number">1</div>
                                <span>런드렛</span>
                                <p>
                                    세탁물을 넣어 보내고, 세탁된 빨래가 담겨 배송되는
                                    빨래 수거함입니다. 다이얼키로 개인 사생활을 보호합니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/underwearNet.png');"></div>
                            <div class="text-content">
                                <div class="number">2</div>
                                <span>속옷망</span>
                                <p>
                                    속옷 전용 세탁 방입니다. 생활빨래의 용량에 포함되니 반드시
                                    속옷망을 생활빨래 망에 넣어 맡겨주세요.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/safetyRing.png');"></div>
                            <div class="text-content">
                                <div class="number">3</div>
                                <span>안심고리</span>
                                <p>
                                    우리집 문고리와 런드렛을 연결하는 안전 장치로
                                    세탁물의 도난, 분실의 위험을 막아줍니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/tighteningTool.png');"></div>
                            <div class="text-content">
                                <div class="number">4</div>
                                <span>조임툴</span>
                                <p>
                                    안심고리의 줄 길이를 고정시킬 때 나사를 조일 수 있는
                                    특수 조임 장치입니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/laundryNet.png');"></div>
                            <div class="text-content">
                                <div class="number">5</div>
                                <span>빨래망(2개)</span>
                                <p>
                                    생활빨래를 맡길 때 사용하는 전용 세탁 망입니다. 반드시
                                    물세탁이 가능한 세탁물만 넣어주세요.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/beddingbag.png');"></div>
                            <div class="text-content">
                                <div class="number">6</div>
                                <span>이불팩</span>
                                <p>
                                    이불만 넣어 맡겨 주세요. 다른 세탁물이 들어있는 경우
                                    반환될 수 있습니다.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="image-content" style="background-image: url('/img/shoesbag.png');"></div>
                            <div class="text-content">
                                <div class="number">7</div>
                                <span>운동화 비닐</span>
                                <p>
                                    운동화를 맡기실 때 사용하세요. 한 번에 여러 켤레를
                                    넣으실 수 있습니다.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="btn-area">
                        <button type="button" class="btn-black">확인</button>
                    </div>
                </div>
                <button type="button" class="modal-close"></button>
            </div>
        </div>
    </div>
    <div class="modal-container cautionDetail">
        <div class="modal-inner">
            <h2 class="modal-title">의류 맡기는 방법</h2>
            <div class="modal-content">
                <ul class="caution-list">
                    <li>
                        <h3>생활빨래 주의사항</h3>
                        <p>
                            생활빨래 30리터를 꼭 지켜주세요.<br>
                            세탁물을 점선 부분까지 넣고 줄로 조여 밖으로 세탁물이 나오지 않게 합니다.
                        </p>
                        <div>
                            <div class="image-wrap">
                                <p>DO</p>
                                <div class="image-content" style="background-image: url('/img/do04.jpg');"></div>
                            </div>
                            <div class="image-wrap">
                                <p class="donot">DO NOT</p>
                                <div class="image-content" style="background-image: url('/img/do_not03.jpg');"></div>
                            </div>
                        </div>
                        <p class="caution">세탁물의 양이 점선 위로 넘칠 경우 <span>1망이 추가 과금</span>됩니다.</p>
                        <p>속옷망은 반드시 빨래망에 넣어주세요.</p>
                        <div>
                            <div class="image-wrap">
                                <p>DO</p>
                                <div class="image-content" style="background-image: url('/img/do02.jpg');"></div>
                            </div>
                            <div class="image-wrap">
                                <p class="donot">DO NOT</p>
                                <div class="image-content" style="background-image: url('/img/do_not02.jpg');"></div>
                            </div>
                        </div>
                        <p>생활 빨래 불가 품목은 생활빨래망에 담지 마세요.</p>
                        <div class="image-content" style="background-image: url('/img/do03.jpg');"></div>
                        <p class="caution">빨래망에 넣기 전 의류의 케어 라벨을 꼭 확인하세요.</p>
                    </li>
                    <li>
                        <h3>개별클리닝 주의사항</h3>
                        <p>
                            개별클리닝 할 세탁물을 빨래망 또는 이불팩에 넣지 마세요.
                            생활빨래망에 넣은 옷은 모두 물세탁 됩니다.
                        </p>
                        <div>
                            <div class="image-wrap">
                                <p>DO</p>
                                <div class="image-content" style="background-image: url('/img/do01.jpg')"></div>
                            </div>
                            <div class="image-wrap">
                                <p class="donot">DO NOT</p>
                                <div class="image-content" style="background-image: url('/img/do_not01.jpg')"></div>
                            </div>
                        </div>
                        <p class="caution">
                            생활빨래망에 담아 개별클리닝용 의류가 물세탁 되어 손상될 경우 보상이 어렵습니다.<br>
                            검수 단계에서 전문가의 의견에 따라 세탁불가 처리가 될 수 있습니다.
                        </p>
                    </li>
                    <li>
                        <h3 class="ban">세탁 불가 품목 안내</h3>
                        <p>세탁 물가 품목</p>
                        <ul class="checks">
                            <li>천연 모피, 천연 무스탕, 천연가죽, 양털카펫, 성인 한복</li>
                            <li>솜류(쿠션, 베개), 가방(에코백 제외), 장식이 많은 커튼</li>
                            <li>구두, 워커, 부츠, 어그부츠, 바닥이 나무 재질로 되어있는 샌들, 반스 브랜드 운동화(제조사 권장)</li>
                            <li>드레스류(웨딩, 이브닝, 연주회 드레스 등)</li>
                        </ul>
                        <ul class="notice">
                            <li>
                                <p class="caution">검수 단계에서 전문가의 의견에 따라 세탁이 불가능하다 판단될 수 있습니다.</p>
                            </li>
                            <li>
                                <p class="caution">맡기기 전 불가 품목을 꼭 확인하세요. 불가 품목 접수시 해당 품목은 세탁이 진행되지 않고 개별 포장하여 보내드립니다.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="btn-area">
                    <button type="button" class="btn-black">확인</button>
                </div>
            </div>
            <button type="button" class="modal-close"></button>
        </div>
    </div>
    <div class="modal-container dialKeyInfo key">
        <div class="modal-inner">
            <h2 class="modal-title">런드렛과 다이얼키 연결하기</h2>
            <div class="modal-content">
                <ul class="number-list">
                    <li>
                        <div class="image-content" style="background-image: url('/img/dialkey01.jpg')"></div>
                        <div class="text-content">
                            <div class="number">1</div>
                            <p>비밀번호는 카카오톡 알림톡을 확인해주세요.</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-content" style="background-image: url('/img/dialkey02.jpg')"></div>
                        <div class="text-content">
                            <div class="number">2</div>
                            <p>수거요청 화면에서도 확인이 가능합니다.</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-content" style="background-image: url('/img/dialkey03.jpg')"></div>
                        <div class="text-content">
                            <div class="number">3</div>
                            <p>밑에서부터 순서대로 비밀번호 입력 후 열쇠를 꽂는 버튼을 위로 밀어주세요,</p>
                        </div>
                    </li>
                </ul>
                <div class="btn-area">
                    <button type="button" class="btn-black">확인</button>
                </div>
            </div>
            <button type="button" class="modal-close"></button>
        </div>
    </div>
    <div class="modal-container smartKeyInfo key">
        <div class="modal-inner">
            <h2 class="modal-title">런드렛과 스마트키 연결하기</h2>
            <div class="modal-content">
                <ul class="number-list">
                    <li>
                        <div class="image-content" style="background-image: url('/img/smartkey01.jpg')"></div>
                        <div class="text-content">
                            <div class="number">1</div>
                            <p>런드렛 가까이에서 스마트키를 눌러주세요.</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-content" style="background-image: url('/img/smartkey02.jpg')"></div>
                        <div class="text-content">
                            <div class="number">2</div>
                            <p>블루투스 연결이 뜨면 런드렛을 선택해 연결해주세요.</p>
                        </div>
                    </li>
                    <li>
                        <div class="image-content" style="background-image: url('/img/smartkey03.jpg')"></div>
                        <div class="text-content">
                            <div class="number">3</div>
                            <p>스마트키를 통해 런드렛을 열고 닫을 수 있습니다.</p>
                        </div>
                    </li>

                </ul>
                <div class="btn-area">
                    <button type="button" class="btn-black">확인</button>
                </div>
            </div>
            <button type="button" class="modal-close"></button>
        </div>
    </div>
    <!---- App-Footer ---->
    <nav th:replace="~{/fragments/headerFooter:: footer}">
    </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let tabNum = [[${tab}]];
</script>
<script th:src="@{/js/guide.js}"></script>
</html>