a{
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.request-select-container {
    max-width: 60.625rem;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .request-select-container {
        padding: 0 1rem;
        box-sizing: content-box;
    }
}

@media (min-width: 992px){
.request-select-detail {
    background: none;
    padding-top: 3rem;
    }
}

.request-select-detail {
    padding: 0;
}

.request-img-container{
    display: flex;
}

.request-img{
    width: 60px;
    height: 66px;
    margin-right: 10px;
}

.border-title{
    font-weight: 600;
    margin-bottom: 15px;
}
.border-name{
    display:contents;
    font-size:1.2rem;
}

.border-main-name{
    margin-top:10px;
}

.tonight-title{
    display: contents;
}

.client-name{
    display:contents;
}

.guide-take{
    margin-top:40px;
    margin-bottom: 50px;
    font-size:1.1rem;
    display: flex;
}

.request-where-title{
    display:flex;
    justify-content: space-between;
}

.update-address{
    color:blue;
    font-size:0.9rem;
}

.request-where-main{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding:10px;
    margin-bottom: 80px;
    font-size:0.9rem;
}

.address-doorlock{
    margin-bottom: 25px;
}

.address{
    margin-bottom: 10px;
}

.doorlock-password{
    color:grey;
    font-size: 0.8rem;
}

.checkbox-container-wrap{
    display:flex;
}

.checkbox-container{
    display:flex;
    width:30%;
}

form{ padding: 10px; }
.circle{
  display: inline-block; /* 영역적용가능해짐 */
  width: 20px; height: 20px;
  border: 2px solid #666;
  box-sizing: border-box;
  border-radius: 10px; /* 모서리둥글게 처리 */
  position: relative; top: 4px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */

  background-image: url(../img/check_gray.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk-after:checked + .circle{
  background-color: #00BA86;
  border-color: #00BA86;
  background-image: url(../img/check_white.png);
}

/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk-after{ position: absolute; left: -999em; }

#chk-direct:checked + .circle{
    background-color: #00BA86;
    border-color: #00BA86;
    background-image: url(../img/check_white.png);
  }
  
  /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk-direct{ position: absolute; left: -999em; }

.font-weight500{
    font-weight: 500;
}

.alarm-choose-text{
    font-size:0.9rem;
}

.premium{
    display:flex;
    justify-content: space-between;
}

.guide-premium{
    padding-top:9px;
    font-size:0.8rem;
    text-decoration: underline;
    color:grey;
}

.premium-main{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding:10px;
    font-size:0.9rem;
}

.select-premium{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 20px;
    padding-bottom: 25px;
}

.premium-tip{
    font-size:0.8rem;
    display:flex;
    padding-top:15px;
    padding-bottom:5px;
}

.tip-text{
    margin-right:3px;
    color:#4aa8d8;
    font-weight:600;
}

.premium-brand-guide{
    margin-top:5px;
    font-size:0.8rem;
    color:grey;
    margin-bottom: 80px;
}

.premium-service-color{
    display:inline;
    color: #ff0000;
}

form{ padding: 10px; }
.circle2{
  display: inline-block; /* 영역적용가능해짐 */
  width: 20px; height: 20px;
  border: 2px solid #666;
  box-sizing: border-box;
  border-radius: 3px; /* 모서리둥글게 처리 */
  position: relative; top: 4px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */

  background-image: url(../img/check_gray.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk-life:checked + .circle2{
    background-color: #00BA86;
    border-color: #00BA86;
    background-image: url(../img/check_white.png);
  }
  
  /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk-life{ position: absolute; left: -999em; }

#chk-other:checked + .circle2{
    background-color: #00BA86;
    border-color: #00BA86;
    background-image: url(../img/check_white.png);
  }
  
  /* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk-other{ position: absolute; left: -999em; }

.checkbox-container-cleaning-wrap{
    display:flex;
    flex-direction: column;
}

.checkbox-container-wrap-cleaning{
    margin-top:5px;
}

.cleaning-choose-text{
    margin-left:5px;
    font-size:0.9rem;
}

.help-text{
    margin-left:30px;
    font-size:0.8rem;
    color:grey;
}

.cleaning{
    margin-bottom: 80px;
}

.select-cleaning{
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding:10px;
}

.req{
    margin-bottom:80px;
}

.cleaning-requests-title{
    display:flex;
    justify-content: space-between;
}

.cleaning-requests-select{
    display: flex;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding:10px;
}

.requests-select-box{
    font-size:0.8rem;
    font-weight: 500;
    padding:10px;
    height:42px;
    border: 1px solid #00BA86;
    border-radius: 17px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
}

.submit{
    display: flex;
    justify-content: space-between;
}

#request-end{
    margin-top:20px;
    margin-bottom: 20px;
    width:300px;
    height: 55px;
    color: white;
    background: #00BA86;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
}
