body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

.request-guide-container {
    max-width: 60.625rem;
    padding: 5px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .request-guide-container {
        padding: 0 1rem;
        box-sizing: content-box;
    }
}

@media (min-width: 992px){
.request-guide-detail {
    margin-top: 0;
    background: none;
    padding-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 5px;
    }
}

.request-guide-detail {
    position: relative;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.please-follow {
    margin-top:20px;
    margin-bottom: 40px
}

.first-requset {
    font-size: 0.5rem;
    color:blue;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 4px 7px;
    margin-bottom: 10px;
    width: 79px;
}

.border-name{
    font-weight: 600;
}

.content-name{
    display:contents;
}

.border-main-name{
    margin-top: 2px;
    margin-bottom: 5px;}

.warning {
    font-size: 0.8rem;
    color:grey;
}

.warning-name{
    margin-top:5px;
    font-size: 0.8rem;
    color:blue;
}

.guide-detail{
    font-size: 0.9rem;
    color:grey;
}

.guide-detail-warning{
    color:blue;
}

.warning-sec {
    font-size:0.8rem;
}

.first-guide-group{
    border-bottom: 1px dotted grey;
    padding-bottom: 20px;
}

.guide-group{
    border-bottom: 1px dotted grey;
    margin-bottom: 8px;
    padding-top:20px;
    padding-bottom: 20px;
}

.sec-name{
    margin-bottom: 5px;
}

.howto-img-container{
    margin-top: 3px;
    width: 16vw;
    height: 11vw;
    justify-content: space-between;
    margin-left: 48px;
}

.bag-img{
    margin-left: 40px;
    width: 100px;
}

.bag-img .small-img{
    width: 100%;
    height: 100%;
}

.flex-container{
    display: flex;
}

.small-img-container{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.small-img{
    width: 40px;
    height: 40px;
}

#check-ok{
    margin-top:20px;
    margin-bottom: 20px;
    width:300px;
    height: 55px;
    color: white;
    background: #00BA86;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.check-flex-container{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}