/* -----------------App-Body------------------- */
/*-----life-header-----*/
.life .header{
    height: 23.5rem;
    background-position:50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/life11img01.jpg");
    color: #fff;
    padding: 7.5625rem 0;
}
@media screen and (min-width: 768px) {
    .life .header{
        background-image: url("../img/life11img01.jpg");
        padding: 7.25rem 0;
    }
}
.life .header .desc{
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: -.03125rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.life .header .title{
    font-size: 2.225rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.0425rem;
    text-align: center;
}
@media screen and (min-width:768px) {
    .life .header .desc{
        font-size: 1.125rem;
        line-height: normal;
    }
}
/*-----contents-----*/
/*inrto*/
.life .intro-desc{
    background-color: #fff;
    color: #000;
}
.life .intro-desc div{
    width: 40.625rem;
    margin: 0 auto;
    text-align: left;
}
.life .intro-desc p{
    font-size: 1.1rem;
    margin-top: 4rem;
    line-height: 1.6;
}
.life .intro-desc p:nth-child(2){
    margin-top: 3rem;
}
.life .intro-desc p em{
    font-size: 1.2rem;
    color: #00BA86;
    font-style: normal;
}
.life .intro-desc p em span{
    font-weight: 700;
}
/*contents*/
.life .tips .contents-container{
    width: 60.625rem;
    padding: 0;
    margin: 8rem auto 0;
}
.life .tips .title{
    text-align: center;
}
.life .tips .title h2.step{
    font-size: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #00BA86;
}
.life .tips .title span{
    font-size: 1.6rem;
    font-weight: 700;
}
.life .tips .contents-container .content-item{
    margin-top: 10rem;
}
.life .tips .contents-container .content-item:first-child{
    margin-top: 0;
}
.life .tips .contents-container .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
@media screen and (min-width:768px) {
    .life .tips .contents-container .content{
        flex-wrap: nowrap;
    }
    .life .tips .content-item:nth-child(even) .content{
        flex-direction: row-reverse;
    }
    .life .tips .content .image-content{
        margin-right: 2.5rem;
    }
    .life .tips .content .text-content{
        margin-left: 2.5rem;
    }
    .life .tips .content-item:nth-child(even) .content .image-content{
        margin-right: 0;
        margin-left: 2.5rem;
    }
    .life .tips .content-item:nth-child(even) .content .text-content{
        margin-left: 0;
        margin-right: 2.5rem;
    }
}
.life .tips .content .image-content{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 1rem;
}
.life .tips .content .text-content{
    width: 50%;
    font-size: 1.05rem;
    line-height: 1.6;
}
.life .tips .content .text-content .info-text p{
    margin-bottom: 3rem;
}
.life .tips .content .text-content .info-text p:last-child{
    margin-bottom: 0;
}
.life .tips .content-item:nth-child(2) .text-content .info-text span{
    font-weight: 700;
}
.life .tips .content .text-content strong{
    background-color: #00BA86;
    color: #fff;
}
.life .tips .content-item .care-tip{
    border-top: 0.15rem solid #00BA86;
    color: #00BA86;
    font-size: 1.1rem;
    line-height: 1.6;
}
.life .tips .content-item .care-tip h2{
    font-size: 1.4rem;
    font-weight: 700;
}
/*outro*/
.life .outro{
    margin: 10rem auto 7rem;
    width: 40.625rem;
    font-size: 1.2rem;
}
.life .outro p strong{
    color: #00BA86;
}