<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="style">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>워시고고 - 우리집 모바일 세탁소</title>
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://www.laundrygo.com/image/favicon/favicon_web.png">
        <link rel="stylesheet" href="/css/common.css">
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    </head>
    <body>
        <div id="app">
            <!---- App-Header ---->
            <header id="app-header" class="global-header hide-border-bottom" th:fragment="header">
                <section>
                    <div class="desktop-header">
                        <div class="left-section">
                            <div class="logo">
                                <a href="/index">
                                    <div class="logo-image">washgogo</div>
                                </a>
                            </div>
                        </div>
                        <div class="right-section">
                            <nav>
                                <ul class="nav-list sign-out" th:if="${session.userNumber == null}">
                                    <li class="nav-item">
                                        <a onclick="location.href='/guide'">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/priceSheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/user/login">
                                            <span>로그인</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/user/join">
                                            <span>회원가입</span></a>
                                    </li>
                                </ul>
                                <ul class="nav-list sign-in" th:unless="${session.userNumber == null}">
                                    <li class="nav-item">
                                        <a onclick="location.href='/guide'">
                                            <span>가이드</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/priceSheet">
                                            <span>가격표</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/user/used">
                                            <span>이용내역</span></a>
                                    </li>
                                    <li class="nav-item usermenu">
                                        <div class="usermenu-button" id="userMenuBtn">
                                            <div class="user-profile-picture">
                                                <div data-name="image" style="background-image:url('/img/user-profile-image.jpg');"></div>
                                            </div>
                                            <div class="arrow"></div>
                                        </div>
                                        <div class="usermenu-dropdown">
                                            <div data-name="user-info">
                                                <h4 data-name="name" th:text="|${session.userName} 고객님|"></h4>
                                            </div>
                                            <ul data-name="usermenu-control">
                                                <li id="progressState"><a>이용 내역</a></li>
                                                <li id="myPage"><a>마이페이지</a></li>
                                            </ul>
                                            <div data-name="signout-control">
                                                <button type="button" id="logout" class="btn btn-secondary btn-sm">로그아웃</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <a href="/order/requestGuide">
                                <button type="button" class="btn btn-primary pickup-request-btn">수거신청</button>
                            </a>
                        </div>
                        <script th:inline="javascript">
                            /* 헤더 스크롤 이벤트 */
                            const header = document.getElementById("app-header");
                            document.onscroll = function(){
                                if(window.scrollY>0){
                                    header.classList.remove("hide-border-bottom");
                                } else {
                                    header.classList.add("hide-border-bottom");
                                }
                            }

                            /* 프로필 클릭 이벤트 */
                            const dropdownUserMenu = document.querySelector(".desktop-header .nav-list .usermenu-dropdown");
                            const userMenuBtn = document.getElementById("userMenuBtn");
                            if(userMenuBtn){
                                userMenuBtn.addEventListener("click", ()=>{
                                    if(!(userMenuBtn.classList.contains("menu-open"))){
                                        userMenuBtn.classList.add("menu-open");
                                        dropdownUserMenu.style.display = "block";
                                    } else {
                                        userMenuBtn.classList.remove("menu-open");
                                        dropdownUserMenu.style.display = "none";
                                    }
                                });
                            }

                            /* 이용 내역 버튼 클릭 이벤트 */
                            const progressState = document.getElementById("progressState");
                            if(progressState){
                                progressState.addEventListener("click", ()=>{
                                    location.href = "/user/used";
                                });
                            }

                            /* 마이페이지 버튼 클릭 이벤트 */
                            const myPage = document.getElementById("myPage");
                            if(myPage){
                                myPage.addEventListener("click", ()=>{
                                    location.href = "/user/myPage";
                                });
                            }


                            /* 로그아웃 버튼 클릭 이벤트 */
                            const logOutBtn = document.getElementById("logout");
                            if(logOutBtn){
                                logOutBtn.addEventListener("click", function () {
                                    location.href = "/user/logout";
                                });
                            }

                            /*프로필*/
                            let profileSession = [[${session.profile}]];
                            if([[${session.profile}]]){
                                const image = document.querySelector(".usermenu-button .user-profile-picture div");
                                image.style.backgroundImage = "url('/upload/display?path=" + profileSession.uploadDirectory + "/t_" + profileSession.fileName +"')";
                            }

                        </script>
                    </div>
                </section>
            </header>
            <!---- App-Body ---->
            <div id="app-body"></div>
            <!---- App-Footer ---->
            <nav id="app-footer" class="footer-container" th:fragment="footer">
                <div class="footer-container-row">
                    <div class="col-content">
                        <p class="contact">1833-1900</p>
                        <p class="text-middle">
                            평일 10:00 - 18:00
                            <br>
                            (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                        </p>
                    </div>
                    <div class="col-content right">
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-appstore.svg"
                            alt="앱스토어">APP STORE</a>
                        <a href="#" class="download"><img
                            src="https://assets.cdn.soomgo.com/icons/icon-download-palystore.svg"
                            alt="구글플레이">PLAY STORE</a>
                    </div>
                </div>
                <div class="footer-container-row terms">
                    <div class="term-container">
                        <div class="col-content term-content">
                            <img src="/img/logoGray.jpg" alt="logo" class="logo">
                            <div class="col-content-list-term">
                                <a href="#" class="text term">이용약관</a>
                                <a href="#" class="text term">개인정보처리방침</a>
                                <a href="#" class="text term">사업자 정보확인</a>
                            </div>
                            <div>
                                <ul class="col-content-guide">
                                    <li class="text">(주)워시고고컴퍼니</li>
                                    <li class="text">대표 : 송민경 사업자 등록번호:561-87-00950</li>
                                    <li class="text">통신판매업신고 : 제2022-서울강서-2052호</li>
                                    <li class="text">주소 : 서울특별시 강서구 양천로 60길 1004(01004)</li>
                                    <li class="text">개인정보담당자 : 송민경 이메일:privacy@washgogo.kr</li>
                                    <li class="text">고객센터 : 1833-1900</li>
                                    <li class="text">Copyright2022 &copy; Washgogo All rights reserved</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-content badge-list right">
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-facebook.svg"
                                    alt="워시고고 페이스북 계정">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-instagram.svg"
                                    alt="워시고고 인스타그램">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverblog.svg"
                                    alt="워시고고 블로그">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverpost.svg"
                                    alt="워시고고 포스트">
                            </a>
                            <a href="#" target="_blank" class="footer-badge">
                                <img
                                    src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-tistory.svg"
                                    alt="워시고고 스토리">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>