<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워시고고 - 우리집 모바일 세탁소</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
<div id="app">
    <!---- App-Header ---->
    <header id="app-header" class="global-header hide-border-bottom">
        <section>
            <div class="desktop-header">
                <div class="left-section">
                    <div class="logo">
                        <a href="./index.html">
                            <div class="logo-image">washgogo</div>
                        </a>
                    </div>
                </div>
                <div class="right-section">
                    <nav>
                        <ul class="nav-list sign-out">
                            <li class="nav-item">
                                <a href="./guide.html"><span>가이드</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="./pricesheet.html"><span>가격표</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#"><span>로그인</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#"><span>회원가입</span></a>
                            </li>
                        </ul>
                        <ul class="nav-list sign-in" style="display: none;">
                            <li class="nav-item">
                                <a href="./guide.html"><span>가이드</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="./pricesheet.html"><span>가격표</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#"><span>이용내역</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#"><span>마이페이지</span></a>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="btn btn-primary pickup-request-btn">수거신청</button>
                </div>
            </div>
        </section>
    </header>
    <!---- App-Body ---->
    <div id="app-body">
        <div class="home">
            <div class="banner-container">
                <div id="banner" class="main-banner">
                    <div class="slick-prev slick-arrow" type="button">
                        <img alt="prev" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTE0IDE5LTctNyA3LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                    </div>
                    <div dir="ltr" class="slick-track">
                        <div class="slick-slide" data-index="0">
                            <div class="banner-item">
                                <a href="#"><img class="banner-image" src="assets/img/banner01.jpg"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="1">
                                <a href="#"><img class="banner-image" src="assets/img/banner02.jpg"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="2">
                                <a href="#"><img class="banner-image" src="assets/img/banner03.jpg"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="3">
                                <a href="#"><img class="banner-image" src="assets/img/banner04.jpg"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="4">
                                <a href="#"><img class="banner-image" src="assets/img/banner05.jpg"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="5">
                                <a href="#"><img class="banner-image" src="assets/img/banner06.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="slick-next slick-arrow" type="button">
                        <img alt="next" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTEwIDE5IDctNy03LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                    </div>
                    <div class="indicator"></div>
                </div>
            </div>
            <section class="main-service-container">
                <div class="left-side">
                    <h2>자유이용 서비스</h2>
                    <p><strong>안심 정찰 가격</strong>으로 자유롭게 이용하세요.</p>
                    <a href="./pricesheet.html"><button type="button" class="btn btn-border">가격표 보기</button></a>
                </div>
                <div class="right-side">
                    <a href="#">
                        <div class="choice1">
                            <div class="text">
                                <h2>여러 번 이용</h2>
                                <p>런드렛으로<br> 안전하게</p>
                            </div>
                            <img class="btn-main-service"src="assets/img/iconTwice.png" alt="여러 번 이용">
                        </div>
                    </a>
                    <a href="#">
                        <div class="choice2">
                            <div class="text">
                                <h2>한 번 이용</h2>
                                <p>라이트백으로<br> 간편하게</p>
                            </div>
                            <img class="btn-main-service"src="assets/img/iconOnce.png" alt="한 번 이용">
                        </div>
                    </a>
                </div>
            </section>
            <section class="washgogo-life">
                <h2 class="title">워시고고 라이프</h2>
                <p>워시고고와 함께하는 세탁 없는 생활</p>
                <div class="life-banner">
                    <button class="slick-prev slick-arrow" type="button"></button>
                    <div dir="ltr" class="slick-track">
                        <div class="slick-slide" data-index="0">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life12.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="1">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life11.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="2">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life10.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="3">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life09.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="4">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life08.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="5">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life07.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="6">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life06.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="7">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life05.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="8">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life04.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="9">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life03.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="10">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life02.jpg');"></div></a>
                        </div>
                        <div class="slick-slide" data-index="11">
                            <a href="./life.html"><div class="banner-image" style="background-image: url('./assets/img/life01.jpg');"></div></a>
                        </div>
                    </div>
                    <div class="slick-next slick-arrow" type="button"></div>
                </div>
            </section>
        </div>
    </div>
    <!---- App-Footer ---->
    <nav id="app-footer" class="footer-container">
        <div class="footer-container-row">
            <div class="col-content">
                <p class="contact">1833-1900</p>
                <p class="text-middle">
                    평일 10:00 - 18:00
                    <br>
                    (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                </p>
            </div>
            <div class="col-content right">
                <a href="#" class="download"><img src="https://assets.cdn.soomgo.com/icons/icon-download-appstore.svg" alt="앱스토어">APP STORE</a>
                <a href="#" class="download"><img src="https://assets.cdn.soomgo.com/icons/icon-download-palystore.svg" alt="구글플레이">PLAY STORE</a>
            </div>
        </div>
        <div class="footer-container-row terms">
            <div class="term-container">
                <div class="col-content term-content">
                    <img src="./assets/img/logoGray.jpg" alt="logo" class="logo">
                    <div class="col-content-list-term">
                        <a href="#" class="text term">이용약관</a>
                        <a href="#" class="text term">개인정보처리방침</a>
                        <a href="#" class="text term">사업자 정보확인</a>
                    </div>
                    <div>
                        <ul class="col-content-guide">
                            <li class="text">(주)워시고고컴퍼니</li>
                            <li class="text">대표 : 송민경 사업자 등록번호:561-87-00950</li>
                            <li class="text">통신판매업신고 : 제2022-서울강서-2052호</li>
                            <li class="text">주소 : 서울특별시 강서구 양천로 60길 1004(01004)</li>
                            <li class="text">개인정보담당자 : 송민경 이메일:privacy@washgogo.kr</li>
                            <li class="text">고객센터 : 1833-1900</li>
                            <li class="text">Copyright2022 &copy; Washgogo All rights reserved</li>
                        </ul>
                    </div>

                </div>
                <div class="col-content badge-list right">
                    <a href="#" target="_blank" class="footer-badge">
                        <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-facebook.svg" alt="워시고고 페이스북 계정">
                    </a>
                    <a href="#" target="_blank" class="footer-badge">
                        <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-instagram.svg" alt="워시고고 인스타그램">
                    </a>
                    <a href="#" target="_blank" class="footer-badge">
                        <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverblog.svg" alt="워시고고 블로그">
                    </a>
                    <a href="#" target="_blank" class="footer-badge">
                        <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverpost.svg" alt="워시고고 포스트">
                    </a>
                    <a href="#" target="_blank" class="footer-badge">
                        <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-tistory.svg" alt="워시고고 스토리">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./assets/js/main.js"></script>
</html>