<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/headerFooter:: style}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>워시고고 - 우리집 모바일 세탁소</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://www.laundrygo.com/image/favicon/favicon_web.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
<div id="app">
    <!---- App-Header ---->
    <header th:replace="~{/fragments/headerFooter:: header}">
    </header>
    <!---- App-Body ---->
    <div id="app-body">
        <div class="home">
            <div class="banner-container">
                <div id="banner" class="main-banner">
                    <div class="slick-prev slick-arrow" type="button">
                        <img alt="prev" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTE0IDE5LTctNyA3LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                    </div>
                    <div dir="ltr" class="slick-track">
                        <div class="slick-slide" data-index="0">
                            <div class="banner-item">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner01.jpg}"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="1">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner02.jpg}"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="2">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner03.jpg}"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="3">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner04.jpg}"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="4">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner05.jpg}"></a>
                            </div>
                        </div>
                        <div class="slick-slide">
                            <div class="banner-item" data-index="5">
                                <a href="#"><img class="banner-image" th:src="@{/img/banner06.jpg}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="slick-next slick-arrow" type="button">
                        <img alt="next" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTEwIDE5IDctNy03LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==">
                    </div>
                    <div class="indicator"></div>
                </div>
            </div>
            <section class="main-service-container">
                <div class="left-side">
                    <h2>자유이용 서비스</h2>
                    <p><strong>안심 정찰 가격</strong>으로 자유롭게 이용하세요.</p>
                    <a href="/priceSheet"><button type="button" class="btn btn-border">가격표 보기</button></a>
                </div>
                <div class="right-side">
                    <a href="/user/serviceDetail">
                        <div class="choice1">
                            <div class="text">
                                <h2>여러 번 이용</h2>
                                <p>런드렛으로<br> 안전하게</p>
                            </div>
                            <img class="btn-main-service" th:src="@{/img/iconTwice.png}" alt="여러 번 이용">
                        </div>
                    </a>
                    <a href="/user/serviceOnceDetail">
                        <div class="choice2">
                            <div class="text">
                                <h2>한 번 이용</h2>
                                <p>라이트백으로<br> 간편하게</p>
                            </div>
                            <img class="btn-main-service" th:src="@{/img/iconOnce.png}" alt="한 번 이용">
                        </div>
                    </a>
                </div>
            </section>
            <section class="washgogo-life">
                <h2 class="title">워시고고 라이프</h2>
                <p>워시고고와 함께하는 세탁 없는 생활</p>
                <div class="life-banner">
                    <button class="slick-prev slick-arrow" type="button"></button>
                    <div dir="ltr" class="slick-track">
                        <div class="slick-slide" data-index="0">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life12.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="1">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life11.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="2">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life10.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="3">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life09.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="4">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life08.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="5">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life07.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="6">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life06.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="7">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life05.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="8">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life04.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="9">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life03.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="10">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life02.jpg}+');'"></div></a>
                        </div>
                        <div class="slick-slide" data-index="11">
                            <a href="/life"><div class="banner-image" th:style="'background-image: url('+@{/img/life01.jpg}+');'"></div></a>
                        </div>
                    </div>
                    <div class="slick-next slick-arrow" type="button"></div>
                </div>
            </section>
        </div>
    </div>
    <!---- App-Footer ---->
    <nav th:replace="~{/fragments/headerFooter:: footer}">
    </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</html>