<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>requestGuide</title>
    <link rel="stylesheet" href="../static/css/requestGuide.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
    <div id="app">
        <!---- App-Header ---->
        <header id="app-header" class="global-header hide-border-bottom">
            <div th:replace="~{/fragments/headerFooter :: header}"></div>
        </header>
        <!---- App-Body ---->
        <div id="app-body">
            <section class="request-guide-container">
                <h2 class="please-follow">이렇게 맡겨주세요</h2>
                <div class="first-requset">첫 수거 신청 시</div>
                <article class="request-guide-detail">
                    <div class="first-guide-group">
                        <div class="border-name border-main-name">꼭 확인하세요.</div>
                        <div>정확한 서비스를 위해 세탁물을 분류 방법대로 비닐이나 쇼핑백에 담아 <div class="border-name content-name">워시고고+세탁물명</div>을 표기해 문 앞에 내놓으세요.</div>
                        <div class="warning-name">! 주의</div>
                        <div class="flex-container">
                        <div class="warning"><div class="border-name content-name">비닐이나 쇼핑백에 워시고고+세탁물명</div>을 정확하게 표기하지 않을 시 수거가 불가하며, 배송비 3,500원이 별도로 부과됩니다.</div>
                        <div class="howto-img-container">
                            <img class="bag-img" src="../static/img/howToBag.png" alt="쇼핑백이미지">
                        </div>
                        </div>
                    </div>
                    <div class="guide-group flex-container">
                        <div class="small-img-container">
                            <img class="small-img" src="../static/img/normal.png" alt="생활빨래">
                        </div>
                        <div>
                            <div class="border-name border-main-name">생활빨래</div>
                            <div class="sec-name"><div class="border-name content-name">'워시고고 생활빨래'</div>를 표기해주세요.</div>
                            <div class="guide-detail"><div class="border-name content-name">생활빨래</div>는 별도의 검수를 하지 않고, 기계 세탁 및 건조 후 다림질 없이 개어 보내드립니다. <div class="border-name content-name">속옷</div>은 별도 포장해 생활 빨래에 담아주세요.</div>
                        </div>
                    </div>
                    <div class="guide-group flex-container">
                        <div class="small-img-container">
                            <img class="small-img" src="../static/img/other_cleaning.png" alt="개별클리닝">
                        </div>
                        <div>
                            <div class="border-name border-main-name">개별클리닝 &와이셔츠</div>
                            <div class="sec-name"><div class="border-name content-name">'워시고고 개별클리닝'</div>을 표기해주세요.</div>
                            <div class="guide-detail"><div class="border-name content-name">케어라벨</div>에 따라 드라이 클리닝 혹은 웨트드라이로 세탁되며, 안심 정찰 가격표에 의해 의류 별로 과금됩니다.</div>
                        </div>
                    </div>
                    <div class="guide-group flex-container">
                        <div class="small-img-container">
                            <img class="small-img" src="../static/img/premium.png" alt="프리미엄">
                        </div>
                        <div>
                            <div class="border-name border-main-name">프리미엄</div>
                            <div class="sec-name"><div class="border-name content-name">'워시고고 프리미엄'</div>을 표기해주세요.</div>
                            <div class="guide-detail">'프리미엄 의류는 수거 신청 단계에서 개별 의류를 선택하여 신청하실 수 있습니다.</div>
                        </div>
                    </div>
                    <div class="guide-group flex-container">
                        <div class="small-img-container">
                            <img class="small-img" src="../static/img/bed.png" alt="기타">
                            <img class="small-img" src="../static/img/shoes.png" alt="기타">
                        </div>
                        <div>
                            <div class="border-name border-main-name">기타</div>
                            <div class="sec-name"><div class="border-name content-name">'워시고고 세탁물명(이불, 운동화 등)'</div>을 표기해주세요.</div>
                        </div>
                    </div>
                    <div class="guide-group flex-container">
                        <div>
                            <div class="guide-detail warning-sec">· 2회차 이용부터는 런드렛이나 라이트백을 활용하여 세탁물을 맡겨주세요.</div>
                            <div class="guide-detail-warning warning-sec">· 담아주신 비닐이나 쇼핑백은 돌려드리지 않습니다.</div>
                        </div>
                    </div>
                </article>
                <div class="check-flex-container">
                    <div></div>
                    <a href="requestSelect.html"><div class="check-ok">네, 알겠습니다.</div></a>
                    <div></div>
                </div>
            </section>
        </div>
        <!---- App-Footer ---->
        <nav id="app-footer" class="footer-container">
            <div class="footer-container-row">
                <div class="col-content">
                    <p class="contact">1833-1900</p>
                    <p class="text-middle">
                        평일 10:00 - 18:00
                        <br>
                        (점심시간 13:00 - 14:00 제외 · 주말/공휴일 제외)
                    </p>
                </div>
                <div class="col-content right">
                    <a href="#" class="download"><img src="https://assets.cdn.soomgo.com/icons/icon-download-appstore.svg" alt="앱스토어">APP STORE</a>
                    <a href="#" class="download"><img src="https://assets.cdn.soomgo.com/icons/icon-download-palystore.svg" alt="구글플레이">PLAY STORE</a>
                </div>
            </div>
            <div class="footer-container-row terms">
                <div class="term-container">
                    <div class="col-content term-content">
                        <img src="../static/img/logoGray.jpg" alt="logo" class="logo">
                        <div class="col-content-list-term">
                            <a href="#" class="text term">이용약관</a>
                            <a href="#" class="text term">개인정보처리방침</a>
                            <a href="#" class="text term">사업자 정보확인</a>
                        </div>
                        <div>
                            <ul class="col-content-guide">
                                <li class="text">(주)워시고고컴퍼니</li>
                                <li class="text">대표 : 송민경 사업자 등록번호:561-87-00950</li>
                                <li class="text">통신판매업신고 : 제2022-서울강서-2052호</li>
                                <li class="text">주소 : 서울특별시 강서구 양천로 60길 1004(01004)</li>
                                <li class="text">개인정보담당자 : 송민경 이메일:privacy@washgogo.kr</li>
                                <li class="text">고객센터 : 1833-1900</li>
                                <li class="text">Copyright2022 &copy; Washgogo All rights reserved</li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-content badge-list right">
                        <a href="#" target="_blank" class="footer-badge">
                            <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-facebook.svg" alt="워시고고 페이스북 계정">
                        </a>
                        <a href="#" target="_blank" class="footer-badge">
                            <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-instagram.svg" alt="워시고고 인스타그램">
                        </a>
                        <a href="#" target="_blank" class="footer-badge">
                            <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverblog.svg" alt="워시고고 블로그">
                        </a>
                        <a href="#" target="_blank" class="footer-badge">
                            <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-naverpost.svg" alt="워시고고 포스트">
                        </a>
                        <a href="#" target="_blank" class="footer-badge">
                            <img src="https://assets.cdn.soomgo.com/icons/icon-footer-sns-tistory.svg" alt="워시고고 스토리">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
<body>
</html>