<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="used.css">
</head>
<body>
	<section id="bigbox">
		<div class ="top">
			<div class="arr">
    			<span></span>
  			</div>
			<p class="color">2021년 6월 16일(목)</p>
			<h1 class="headcolor">세탁이 진행되고 있습니다</h1>
			<p class="color">고객님의 빨래가 깨끗하게 세탁중입니다</p>
		</div>
		<div class="bottom">
			<div class="words">
				<strong class ="bold">진행상태</strong>
				<strong class ="bold">결제예상금액</strong>
			</div>
			<div class ="lists">
				<span class="loca">세탁 인수증</span>
				<span class="loca1">3개 품목</span>
				<ul>
  					<li>
  						<div class ="img">사진</div>
  						<div class="center">
  							<span class = "inline">물빨래 1개</span>
  							<strong class ="right">세탁중</strong>
  						</div>
  					</li>
  					<li>
  						<div class ="img">사진</div>
  						<div class="center">
  							<span class = "inline">손빨래 1개</span>
  							<strong class ="right">세탁중</strong>
  						</div>
  					</li>
  					<li>
  						<div class ="img">사진</div>
  						<div class="center">
  							<span class = "inline">드라이 1개</span>
  							<strong class ="right">세탁중</strong>
  						</div>
  					</li>
				</ul>	
				<strong>총 금액</strong>
				<div class="terrible">
					<span class="price">물빨래</span>
					<span class="priceright">3000원</span>
				</div>
				<div class="terrible">
					<span class="price">손빨래</span>
					<span class="priceright">2000원</span>
				</div>
				<div class="terrible">
					<span class="price">드라이</span>
					<span class="priceright">2000원</span>
				</div>
				<hr class="line">
				<div class="terrible">
					<span class="strongprice">총액</span>
					<span class="strongpriceright">7000원</span>
				</div>
			</div>
		</div>
	</section>
	
</body>
</html>