button:focus{
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(0 199 174 / 25%);
}

#modal.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 300px;
    position: relative;
    padding: 10px;
}

#modal .title {
    padding-left: 10px;
    display: inline;
    color: white;

}

#modal .title h2 {
    text-align: initial;
    color: black;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal .content1 {
    color: black;
}

#modal .content2 {
    color: black;
    margin: 20px 0;
}

#choose1{
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    border-radius: 50%;
}

#choose2{
    float: none;
}

.no-change-user, .change-user,.remain-user,.delete-user{
    background-color: white;
    border-radius: 0.25rem;
    padding: 0 10px;
    line-height: 3;
    width: 100%;
}

.change-user, .delete-user{
    background-color: #00ba86;
    color: white;
    margin-bottom: 5px;
}

.no-change-user, .remain-user{
    background-color: white;
    color: black;
}

input{
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 0.0625rem solid #e1e1e1;
}

#commonMessageBoxBg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background: url("/img/modal-bg.png") repeat;
}
#commonMessageBox{
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 10002;
    width: 23rem;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}
#commonMessageBox .modalContentsBox{
    max-width: 23rem;
    padding: 2.438rem 1.875rem 1.563rem;
    height: auto;
}
#commonMessageBox .modalContentsBox{
    padding: 2.438rem 1.875rem 3.063rem;
}
#commonMessageBox .btn-area{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
#commonMessageBox .btn-area button{
    min-width: 7.188rem;
    padding: 0 0.625rem;
    margin: 0 auto;
    background: #fff;
    color: #666;
    border: 0.0625rem solid #666;
    font-size: 0.875rem;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: top;
    width: 50%;
    margin-right: 0.5rem;
}
#commonMessageBox .btn-area button:last-child{
    margin-left: 0.5rem;
}
#commonMessageBox .btn-area label button{
    width: 100%;
}
#commonMessageBox .btn-area button.btn-white{
    color: #000;
    border: 0.0625rem solid #000;
}
#commonMessageBox .btn-area button.btn-green{
    color: #fff;
    background-color: #00BA86;
    border: none;
}
#commonMessageBox .modalCloseBtn{
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("/img/modal-close.png") no-repeat center center;
    background-size: 100% 100%;
    text-indent: -999rem;
}
#commonMessageBox .modalHead{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
}
#commonMessageBox .modalHead h1{
    font-size: 1.3rem;
    vertical-align: top;
}
#commonMessageBox .modalMsg{
    font-size: 1rem;
    color: #000;
    text-align: center;
    line-height: 1.5;
}
