button:focus{
    outline: none;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgb(0 199 174 / 25%);
}

#modal.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
    background: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 300px;
    position: relative;
    padding: 10px;
}

#modal .title {
    padding-left: 10px;
    display: inline;
    color: white;

}

#modal .title h2 {
    text-align: initial;
    color: black;
}

#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal .content1 {
    color: black;
}

#modal .content2 {
    color: black;
    margin: 20px 0;
}

#choose1{
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    border-radius: 50%;
}

#choose2{
    float: none;
}

.no-change-user, .change-user,.remain-user,.delete-user{
    background-color: white;
    border-radius: 0.25rem;
    padding: 0 10px;
    line-height: 3;
    width: 100%;
}

.change-user, .delete-user{
    background-color: #00ba86;
    color: white;
    margin-bottom: 5px;
}

.no-change-user, .remain-user{
    background-color: white;
    color: black;
}



input{
    margin-top: 10px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 0.0625rem solid #e1e1e1;
}

#check-ok{
    margin-top:20px;
    width:300px;
    height: 55px;
    color: white;
    background: #00BA86;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.check-flex-container{
    display: flex;
    justify-content: space-between;
}