@media screen and (min-width: 768px) {
    .noticesheet{
        width: 60.625rem;
        padding: 0;
    }
}

.noticesheet .notice .notice-item {
    margin-bottom: 3rem;
}

.noticesheet .notice .notice-item .title {
    margin-bottom: 1rem;
    text-align: center;
}

.noticesheet .notice .notice-item > div {
    border-bottom: 0.055rem solid rgba(0, 0, 0, 0.3);
}

.noticesheet .notice .notice-item table {
    width: 100%;
    font-size: 1.2rem;
}

.noticesheet .notice .notice-item table tbody {
    line-height: 3;
}

.noticesheet .notice .notice-item table tbody tr:not(:last-child) {
    border-bottom: 0.025rem solid rgba(0, 0, 0, 0.08);
}

.noticesheet .notice .notice-item table td.more {
    position: relative;
}
.noticesheet .notice .notice-item table td {
    padding-left: 5rem;
    padding-right: 5rem;
}

.noticesheet .notice .notice-item table td.more-info {
    background-color: rgba(0,0,0,0.02);
}
.noticesheet .notice .notice-item table td:last-child {
    text-align: right;
}

.noticesheet .notice .notice-item table td.more-info div {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #a3a3a3;
}

.noticesheet .notice .notice-item table td.more::before{
    content:"";
    display: block;
    background: url("../img/icon_arrow_down.png") no-repeat center;
    background-size: contain;
    width: 1.3rem;
    height: 100%;
    position: absolute;
    left: 1rem;
}
.noticesheet .notice .notice-item table tbody tr.on td.more::before{
    content:"";
    display: block;
    background: url("../img/icon_arrow_up.png") no-repeat center;
    background-size: contain;
    width: 1.3rem;
    height: 100%;
    position: absolute;
    left: 1rem;
}

.brands ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 0.6rem;
    margin: 0 auto;
}

.brands{
    margin-top: 3.5rem;
    width: 100%;
    height: 20rem;
}
.brands ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 0.6rem;
    margin: 0 auto;
}
.brands li{
    width: 6rem;
    height: 4rem;
    background-color: rgba(0,0,0,0.03);
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin: 0 auto;
}
.brands li:first-child{padding-left: 0.6rem; padding-right: 0.6rem;}
.brands li:nth-child(2){padding-left: 1rem; padding-right: 1rem;}
.brands li:nth-child(3){padding-left: 1.5rem; padding-right: 1.5rem;}
.brands li:nth-child(10){padding-left: 0.8rem; padding-right: 0.8rem;}
.brands li:nth-child(11){padding-left: 1.3rem; padding-right: 1.3rem;}
.brands li:nth-child(14){padding-left: 0.1rem; padding-right: 0.1rem;}
.brands li:nth-child(15){padding-left: 1.2rem; padding-right: 1.2rem;}
.brands li:nth-child(16){padding-left: 0.2rem; padding-right: 0.2rem;}
.brands li div{
    text-indent: -999rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}