.serviceDetail{
    position: relative;
    padding: 0;
}
.serviceDetail .flex-aside.left{
    flex: 1;
}
.serviceDetail .flex-aside.right{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
    .serviceDetail{
        display: flex;
        margin-top: 0;
        background: none;
        padding-top: 3rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .serviceDetail .flex-aside.left{
        max-width: 35.5rem;
        padding-bottom: 2rem;
    }
    .serviceDetail .flex-aside.right{
        width: 23.125rem;
        z-index: 1;
    }
    .serviceDetail .flex-aside.right .service-controller{
        position: -webkit-sticky;
        position: sticky;
        top: 6.5rem;
        max-height: 50rem;
        display: flex;
        flex-direction: column;
    }
}
.serviceDetail .service-image{
    margin-bottom: 5rem;
}
.serviceDetail .service-image img{
    width:33rem;
    height:30rem;
    border-radius: 1rem;
}
.serviceDetail .title-wrap div{
    height: 100%;
    position: relative;
    margin-top: 3rem;
}
.serviceDetail .title-wrap .highlight{
    display: inline-block;
    font-size: 1.4rem;
    height: 1rem;
    color: transparent;
    background-color: #CFFD5F;
    position: absolute;
    bottom: 0;
}
.serviceDetail .title-wrap .title{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    position: relative;
    top: -2.1rem;
}
.serviceDetail .title-wrap p{
    font-size: 1.1rem;
    margin-top: -1.3rem;
}
.serviceDetail .to-customer{
    margin-top: -1rem;
    margin-bottom: 5rem;
}
.serviceDetail .to-customer li{
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 0.06rem solid #eee;
}
.serviceDetail .to-customer li:last-child{
    border: none;
}
.serviceDetail .to-customer li .image-wrap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5rem;
}
.serviceDetail .to-customer li p{
    padding-top: 1rem;
    padding-left: 3rem;
    font-size: 1.1rem;
}

.serviceDetail .ship .inner{
    background-color: rgba(238,238,238,0.34);
    border: 0.08rem solid #eee;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
}
.serviceDetail .ship .inner h3{
    padding-left: 2rem;
    position: relative;
    margin-bottom: 0.5rem;
}
.serviceDetail .ship .inner h3:not(:first-child){
    margin-top: 0.5rem;
}
.serviceDetail .ship .inner h3::before{
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: url("/img/icon02.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: -0.2rem;
    top: 0.25rem;
}
.serviceDetail .ship .inner p{
    color: grey;
    padding-left: 1.5rem;
    margin-left: 0.45rem;
}
.serviceDetail .ship .inner p:not(:last-child){
    border-left: 0.15rem dotted #ddd;
    height: 3rem;
}
.serviceDetail .service-title{
    border: 0.15rem solid #eee;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.serviceDetail .service-title .service-type{
    width: 9rem;
    margin: 1.2rem auto 0.5rem;
    color: #fff;
    background-color: #888;
    border-radius: 1rem;
    font-size: 0.85rem;
    padding: 0.15rem 0.8rem;
}
.serviceDetail .service-title p{
    color: grey;
    margin: 1rem;
}
.serviceDetail .service-controller h3 + p{
    margin: 1rem 0;
}
.serviceDetail .price-list{
    border-top: 0.1rem solid #eee;
    margin-bottom: 1rem;
}
.serviceDetail .price-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #eee;
    height: 3rem;
    padding: 0 1rem;
}
.serviceDetail .price-list li:nth-child(even){
    background-color: rgba(238,238,238,0.34);
}
.serviceDetail .price-list li span{
    line-height: 3rem;
}
.serviceDetail .price-list li span + span{
    font-weight: bold;
    font-size: 0.9rem;
}
.serviceDetail .service-controller > span{
    color: grey;
    font-size: 0.9rem;
}
.serviceDetail .service-controller a{
    color: #1d86d9;
    margin-top: 1rem;
}
.serviceDetail .service-controller .button-area{
    margin-top: 3rem;
}
.serviceDetail .service-controller .button-area button{
    display: block;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 3rem;
    color: #fff;
    background-color: #00BA86;
    border-radius: 1rem;
    font-weight: 700;
}
/* 메시지모달창 */
#commonMessageBoxBg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background: url("/img/modal-bg.png") repeat;
}
#commonMessageBox, #onceMsgBox{
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 10002;
    width: 20rem;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
}
#onceMsgBox{
    width: 21rem;
}
#commonMessageBox .modalContentsBox, #onceMsgBox .modalContentsBox{
    max-width: 22.5rem;
    padding: 3.438rem 1.875rem 1.563rem;
    height: auto;
}
#commonMessageBox .btn-area{
    text-align: center;
    margin-top: 1.25rem;
}
#onceMsgBox .btn-area{
    text-align: center;
    margin-top: 1.75rem;
}
#commonMessageBox .btn-area .btn-black, #onceMsgBox .btn-area .btn-black{
    min-width: 7.188rem;
    padding: 0 0.625rem;
    margin: 0 auto;
    background: #000;
    color: #fff;
    font-size: 0.875rem;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: top;
}
#onceMsgBox .btn-area .btn-black{
    color: #CFFD5F;
}
#commonMessageBox .modalCloseBtn{
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: url("/img/modal-close.png") no-repeat center center;
    background-size: 100% 100%;
    text-indent: -999rem;
}
#commonMessageBox .modalHead, #onceMsgBox .modalHead{
    padding-bottom: 0.938rem;
    font-size: 1.125rem;
    line-height: 1.4;
    color: #000;
    text-align: center;
}
#onceMsgBox .modalHead{
    text-align: left;
}
#commonMessageBox .modalHead h1, #onceMsgBox .modalHead h1{
    font-size: 1.5rem;
}
#commonMessageBox .modalMsg{
    font-size: 1rem;
    color: #000;
    text-align: center;
    line-height: 1.5;
}
#onceMsgBox .modalMsg{
    font-size: 0.9rem;
    text-align: left;
    line-height: 1.3;
}
#onceMsgBox .modalMsg span.red{
    color: #f94545;
}