.address{
    background-color: #fafafa;
    padding: 5rem 0;
}
.address .content-wrap{
    width: 100%;
    max-width: 26.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 0.5rem;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
.address .content-wrap .main-title{
    margin: 2.5rem 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: normal;
    letter-spacing: normal;
}
.address .content-wrap .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.address .content-wrap .title h2{
    font-weight: 700;
    font-size: 1.1rem;
}
.address .content-wrap .title a{
    color: #1d86d9;
    display: none;
}
.address .content-wrap .form-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem
;
}
.address .content-wrap .form-row > .col{
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
form[name="addressForm"] .form-row > .col:nth-child(2):before{
    content: "";
    display: block;
    position: absolute;
    right: 0.625rem;
    top: 0.563rem;
    width: 2rem;
    height: 2rem;
    background: url("/img/iconSearch.png") no-repeat center;
    background-size: contain;
    z-index: 10;
}
form[name="addressForm"] .address-input,
form[name="addressForm"] .getin-input{
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    margin: 0;
    border-radius: 4px;
    padding: 0.75rem;
    border: 0.0625rem solid #e1e1e1;
    cursor: pointer;
}
form[name="addressForm"] .address-input::placeholder,
form[name="addressForm"] .getin-input::placeholder{
    color: #ccc;
}
form[name="addressForm"] #sample4_roadAddress{
    padding-right: 3rem;
    position: relative;
}
form[name="addressForm"] #sample4_roadAddress:focus{
    border-color: #e1e1e1;
}
form[name="addressForm"] #sample4_roadAddress.disabled,
form[name="addressForm"] #addressDetail.disabled{
    color: grey;
    cursor: default;
    background-color: rgba(238,238,238,0.34);
}
form[name="addressForm"] #addressDetail:focus{
    border-color: #000;
}
form[name="addressForm"] .address-input.is-invalid,
form[name="addressForm"] #addressDetail.is-invalid:focus,
form[name="addressForm"] #sample4_roadAddress.is-invalid:focus{
    border: 0.0625rem solid #fa5963;
}
.address .invalid-feedback{
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}
form[name="addressForm"] #addressDetail{
    display: none;
}

form[name="addressForm"] .col > a{
    display: block;
    width: 13rem;
    height: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    background-color: #eee;
    text-align: center;
    padding-top: 0.25rem;
    font-size: 0.9rem;
}
form[name="addressForm"] .get-in{
    display: none;
}
form[name="addressForm"] .get-in .title h2{
    margin-top: 2rem;
}
form[name="addressForm"] .get-in input[name="userEntranceType"]{
    display: none;
}
form[name="addressForm"] .get-in .check{
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 0.0625rem solid #e1e1e1;
    margin-top: 0.3rem;
    background: url("/img/check_light_gray.jpg") repeat center;
    background-size: contain;
}
form[name="addressForm"] .get-in label{
    display: flex;
    cursor: pointer;
    margin: 0.8rem auto;
}
form[name="addressForm"] .get-in li.active .check{
    background-color: #CFFD5F;
    border: 0.0625rem solid #CFFD5F;
    background: url("/img/check_black_bg.jpg") repeat center;
    background-size: contain;
}
form[name="addressForm"] .get-in label p{
    margin-left: 0.7rem;
}
form[name="addressForm"] .get-in label + input{
    display: none;
}
form[name="addressForm"] .get-in label + input:focus{
    border-color: #000;
}
form[name="addressForm"] .get-in .caution{
    display: none;
}
form[name="addressForm"] .get-in li.active .caution{
    display: block;
    color: #fa5963;
    font-size: 0.8rem;
    margin-top: 0.6rem;
    padding-left: 1.5rem;
    position: relative;
}
form[name="addressForm"] .get-in li.active .caution::before{
    content: "!";
    color: #fa5963;
    position: absolute;
    left: 0;
    border-radius: 50%;
    border: 0.0625rem solid #fa5963;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
    line-height: 1.1;
    font-size: 0.7rem;
}
.address .btn-area{
    margin-top: 3rem;
}
.address .btn-next{
    color: #CFFD5F;
    background-color: #000;
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    font-size: 1rem;
}
.address .btn-next.disabled{
    cursor: default;
    color: grey;
    background-color: #ddd;
}
