.mypage .pointer {
    cursor: pointer;
}
.mypage .underline {
    border-bottom: 0.0625rem solid;
    border-color: #f2f2f2;
}
.mypage .arrow {
    font-size: 0;
}
.mypage .right-arrow {
    font-size: 0.75rem;
}
.mypage a {
    display: flex;
    align-items: center;
}
.mypage .mypage-container .mypage-title {
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: -.0462rem;
    color: #323232;
    margin: 0;
    font-size: 1.5rem;
    padding: 1.875rem 0;
}
@media screen and (min-width: 768px){
    .mypage .mypage-container .mypage-title{
        font-size: 2.125rem;
        padding: 3.125rem 0;
    }
}
.mypage .sub-menu-container {
    padding: 1rem 0;
}
.mypage .sub-menu-container:last-child {
    margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
    .mypage .sub-menu-container:last-child{
        margin-bottom: 7.125rem;
    }
}
.mypage .sub-menu-container .sub-menu-list {
    position: relative;
    display: flex;
    align-items: center;
}
.mypage .sub-menu-container .sub-menu-list .icon-container {
    align-self: baseline;
}
.mypage .sub-menu-container .sub-menu-list .sub-content {
    flex: auto;
    text-align: left;
    padding-left: 0.5rem;
}
.mypage .sub-menu-container .sub-menu-list .sub-content .sub-menu {
    display: block;
}
.mypage .sub-menu-container .sub-menu-list .sub-content .sub-menu .sub-menu-title {
    font-size: 0.875rem;
    font-weight: 500;
    color: #737373;
    padding: 0;
}
@media screen and (min-width: 768px) {
    .mypage .sub-menu-container .sub-menu-list .sub-content .sub-menu .sub-menu-title{
        font-size: 1rem;
    }
}
.mypage .profile-container {
    font-size: 0;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
    border-bottom: 0.0625rem solid #f2f2f2;;
}
@media screen and (min-width: 768px) {
    .mypage .profile-container{
        margin-bottom: 3.125rem;
    }
}
.mypage .profile-container a {
    display: flex;
    align-items: center;
}
.mypage .thumb {
    width: 4.375rem;
    height: 4.375rem;
    min-width: 4.375rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 0.0625rem solid #f2f2f2;
}
.mypage .profile-container a .thumb .user-profile-picture{
    position: relative;
    height: 100%;
}
.mypage .profile-container a .thumb .user-profile-picture div{
    border-radius: 0.75rem;
    padding: 0;
    height: 100%;
    position: relative;
    width: 100%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}
.mypage .mypage-title {
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: -.0462rem;
    color: #323232;
    margin: 0;
    font-size: 1.5rem;
    padding: 1.875rem 0;
}
@media screen and (min-width: 768px){
    .mypage .mypage-container .mypage-title{
        font-size: 2.125rem;
        padding: 3.125rem 0;
    }
}
.mypage .user-info {
    flex: auto;
    text-align: left;
    padding-left: 0.75rem;
}
.mypage .arrow {
    font-size: 0;
}
.mypage .right-arrow {
    font-size: 0.75rem;
}
.mypage .user-id {
    display: flex;
    font-size: 0.75rem;
    color: #b5b5b5;
}
.mypage .user-id img {
    margin-right: 0.25rem;
}
.mypage .id-length {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 11.6875rem;
}
.mypage .user-name {
    display: flex;
    font-size: 1.125rem;
    font-weight: 500;
    color: #323232;
}
.mypage .name-length {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0.3125rem;
    max-width: 8.45rem;
}
.mypage .sub-menu-container .sub-menu-list .sub-content .sub-menu .sub-menu-title.badge {
    position: relative;
}
.mypage .sub-menu-container .sub-menu-list .sub-content .sub-menu .sub-menu-title.badge:after {
    content: "";
    position: absolute;
    top: 0.125rem;
    right: -.75rem;
    background-color: #ff3131;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
}
.mypage .sub-menu-container .sub-menu-list .sub-content .sub-description {
    display: block;
    color: #b5b5b5;
    font-size: 0.875rem;
    white-space: pre-line;
}
.mypage .sub-menu-container .sub-menu-list .teal-badge {
    padding: 0.1875rem 0.625rem;
    font-size: 0.75rem;
    border-radius: 0.8125rem;
    background-color: #00BA86;
    color: #fff;
    font-weight: 500;
    margin-right: 0.25rem;
}
.mypage .sub-menu-container .sub-menu-list .tooltip-balloon {
    left: 0;
    transform: translateY(100%);
}
.mypage .sub-menu-container .sub-menu-list .tooltip-balloon:after {
    left: 3.625rem;
}
.mypage .sub-menu-container.my-ip-products .tooltip-balloon:after {
    left: 4.8125rem;
}
.mypage .invite-btn {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    color: #323232;
    border-radius: 0.5rem;
    border: none;
    background-color: #eafaf9;
    padding: 0.875rem;
    margin-top: 1rem;
}
.mypage .invite-btn .point {
    padding-left: 1.25rem;
    margin-left: 0.375rem;
    color: #00BA86;
    position: relative;
}
.mypage .invite-btn .point:before {
    content: "";
    position: absolute;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iOCIgZmlsbD0iIzAwQzdBRSIvPjxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTEwLjUyNSA1LjU3NWEzLjUgMy41IDAgMTAwIDQuOTVoMCIvPjwvZz48L3N2Zz4=") 50% no-repeat;
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-45%);
    left: 0;
}
.mypage .invite-btn:active {
    background-color: #deedec;
}
.mypage .mypage-container{
    margin-top: 48px;
}
