.container{
    margin-bottom: 100px;
}

.title{
    margin: 50px 0;
    border-bottom: 0.0625rem solid #e1e1e1;
    padding-bottom: 20px;
}

.title > h1{
    font-weight: 700;
}

.description{
    margin-bottom: 200px;
}

.choice{
    display: flex;
    justify-content: space-evenly;
}


button:focus {
    border: none;
    outline: none;
}

.button{
    width: 150px;
    text-align: center;
    line-height: 3;
    border-radius: 0.5rem;
    border: 1px solid rgb(214 213 213);
}

.choice button{
    font-family: inherit;
}

.remain{
    background-color: #00ba86;
}

.remain > button{
    color: white;
}

.cancel{
    background-color: #b5b5b5;
}