<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>requestSelect</title>
    <link rel="stylesheet" th:href="@{/css/requestSelect.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div id="app">
        <!---- App-Header ---->
        <header th:replace="~{/fragments/headerFooter :: header}"></header>
        <!---- App-Body ---->
        <div id="app-body">
            <section class="request-select-container">
                <article class="request-select-detail" th:object="${userVO}">
                    <form name ="requestForm" autocomplete="off" action="/order/requestSelectOk" method="post">
                        <div class="guide-take">
                            <div class="request-img-container">
                                <img class="request-img" th:src="@{/img/request.png}" alt="세탁물 수거">
                            </div>
                            <div>
                                <div class="border-name">
                                    <div class="border-title client-name">
                                        <span th:text="*{userName}"></span>
                                    </div>
                                    <div class="tonight-title">님, 오늘 밤<br>문 앞의 세탁물을 수거하러 갑니다.</div>
                                </div>
                            </div>
                        </div>
                        <div class="adr">
                            <div class="request-where-title">
                                <div class="border-title">수거 배송/주소</div>
                                <!--수정 페이지 만들고 연결-->
                                <a id="modify" class="update-address" onclick="modifyAddress()">수정 ></a>
                            </div>
                            <div class="request-where-main">
                                <div class="address-doorlock">
                                    <div class="address font-weight500" th:text="*{userAddress}">주소</div>
                                    <div class="address font-weight500" th:text="*{userAddressDetail}">세부주소</div>
                                    <div class="doorlock-password get-in">
                                        <span th:text="*{userEntranceType}"></span>
                                        <span class="colon" th:if="*{userEntrancePw != null || userEntranceMessage != null}">: </span>
                                        <span th:if="*{userEntrancePw != null}" th:text="*{userEntrancePw}"></span>
                                        <span th:if="*{userEntranceMessage != null}" th:text="*{userEntranceMessage}"></span>
                                    </div>
                                </div>
                                <div class="alarm-message">
                                    <div class="alarm-message-text font-weight500">알림 메시지 전송 시간</div>
                                    <div class="checkbox-container-wrap">
                                        <div class="checkbox-container">
                                            <label for="chk-after">
                                                <input type="radio" name="orderAlert" value="seven" id="chk-after">
                                                <i class="circle"></i>
                                                <span class="alarm-choose-text">오전 7시 이후</span>
                                            </label>
                                        </div>
                                        <div class="checkbox-container">
                                            <label for="chk-direct">
                                                <input type="radio" name="orderAlert" value="immediately" id="chk-direct">
                                                <i class="circle"></i>
                                                <span class="alarm-choose-text">수거/배송 즉시</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="pre">
                            <div class="premium">
                                <div class="premium-title border-title">프리미엄 서비스</div>
                                <div class="guide-premium">프리미엄 서비스 안내</div>
                            </div>
                            <div class="premium-main">
                                <div class="select-premium">
                                    &lt;!&ndash;생각을 좀 더 해보자&ndash;&gt;
                                    <div class="premium-text font-weight500">프리미엄 의류 선택하기</div>
                                    <div>></div>
                                </div>
                                <div class="premium-tip">
                                    <div class="tip-text">TIP</div>
                                    &lt;!&ndash;프리미엄 가격표, 지정 브랜드 모달 만들기&ndash;&gt;
                                    <div class="guide-premium-detail">프리미엄 가격표/ 지정 브랜드 보기</div>
                                </div>
                            </div>
                            <div class="premium-brand-guide">프리미엄 지정 브랜드는
                                <div class="premium-service-color">프리미엄 서비스로 자동 적용</div>됩니다.
                            </div>
                        </div>-->
                        <div class="cleaning">
                            <div class="cleaning-title">
                                <div class="border-title">맡기실 세탁물 선택하기</div>
                            </div>
                            <div class="select-cleaning">
                                <div class="checkbox-container-wrap-cleaning">
                                    <div class="checkbox-container-cleaning">
                                        <label for="chk-washer">
                                            <input type="checkbox" id="chk-washer" name="washer">
                                            <i class="circle2"></i>
                                            <span class="cleaning-choose-text">생활 빨래</span>
                                            <div class="help-text">티셔츠, 수건과 같은 세탁기에 돌리는 빨래입니다.</div>
                                        </label>
                                        <div class="order-measure-wrapper" id="washer-measure">
                                            <span>무게: </span>
                                            <input type="text" name="washerNumber" placeholder="무게를 입력해주세요.">
                                            <span class="order-measure">kg</span>
                                        </div>
                                    </div>
                                    <div class="checkbox-container-cleaning">
                                        <label for="chk-cleaning">
                                            <input type="checkbox" id="chk-cleaning" name="cleaning">
                                            <i class="circle2"></i>
                                            <span class="cleaning-choose-text">개별 클리닝</span>
                                            <div class="help-text">드라이클리닝, 신발, 이불 등의 개별로 과금되는 세탁물입니다.</div>
                                        </label>
                                        <div class="order-measure-wrapper" id="cleaning-measure">
                                            <span>개수: </span>
                                            <input type="text" name="cleaningNumber" placeholder="개수를 입력해주세요.">
                                            <span class="order-measure">개</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="req">
                            <div class="cleaning-requests-title">
                                <div class="border-title">세탁 요청사항</div>
                            </div>
                            <div class="cleaning-requests-container">
                                <div class="cleaning-requests-message">
                                    <div>
                                        <span>추가 요청사항을 입력하세요.</span>
                                        <span>최대 150자</span>
                                    </div>
                                    <textarea name="orderRequestMessage" id="request-msg" placeholder="의류 종류와 요청사항을 상세히 입력해주세요."
                                              cols="5" rows="3" maxlength="150"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <div></div>
                            <button type="button" id="request-end">수거 신청</button>
                            <div></div>
                        </div>
                    </form>
                </article>
            </section>
        </div>
        <!---- App-Footer ---->
        <footer th:replace="~{/fragments/headerFooter :: footer}"></footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    let address = [[${userVO.userAddress}]];
    let addressDetail = [[${userVO.userAddressDetail}]];
    let entranceType = [[${userVO.userEntranceType}]];
    let entrancePw = [[${userVO.userEntrancePw}]];
    let entranceMessage = [[${userVO.userEntranceMessage}]];
    let selectedServiceType = [[${selectedServiceType}]];
</script>
<script>
    $("#request-end").on("click", function(){
        document.requestForm.submit();
    })

    $("#chk-washer").change(function(){
        if($("#chk-washer").is(":checked")) {
            $("#washer-measure").show();
        } else {
            $("#washer-measure").hide();
        }
    });

    $("#chk-cleaning").change(function(){
        if($("#chk-cleaning").is(":checked")) {
            $("#cleaning-measure").show();
        } else {
            $("#cleaning-measure").hide();
        }
    });

    /* 주소 수정 버튼 클릭 이벤트 */
    const $modifyAddressBtn = $("#modify");
    $modifyAddressBtn.on("click", function () {
        const $newForm = $('<form></form>')
        $newForm.attr("name", "newForm");
        $newForm.attr("method", "post");
        $newForm.attr("action", "/order/modifyAddress");

        $newForm.append($('<input/>', {type: 'hidden', name: 'userAddress', value: address}));
        $newForm.append($('<input/>', {type: 'hidden', name: 'userAddressDetail', value: addressDetail}));
        $newForm.append($('<input/>', {type: 'hidden', name: 'userEntranceType', value: entranceType}));
        $newForm.append($('<input/>', {type: 'hidden', name: 'userEntrancePw', value: entrancePw}));
        $newForm.append($('<input/>', {type: 'hidden', name: 'userEntranceMessage', value: entranceMessage}));
        $newForm.append($('<input/>', {type: 'hidden', name: 'selectedServiceType', value: selectedServiceType}));

        $newForm.appendTo('body');

        $newForm.submit();
    })
</script>
</html>